[2016-03-29 14:05] adamdubiel opened #4 "Add memory allocation hard limit"
I would like to have a hard limit for max cache size, so for example my application won't be killed by OOMKiller, losing all cache data.

[2016-04-06 21:02] Freeaqingme commented on #4
It would be really awesome if this could be implemented. Right now that's the only reason I'm not using bigcache, yet. I implemented myself something similar by simply atomically updating a uint field 'size' with every addition or deletion containing the total number of bytes contained in my map ( https://github.com/Freeaqingme/ClueGetter/blob/develop/src/cluegetter/messagePersist.go#L499 ).

I'm

[2016-04-08 06:38] druminski commented on #4
Hi, if this blocks you from using bigcache then it definitely receives higher priority on my list :)
I will implement it in the coming days.

[2016-04-13 15:00] druminski commented on #4
@Freeaqingme please take a look at #10 PR and verify if you can now use bigcache. If it is ok then I will merge it.

[2016-04-17 00:10] yiiton opened #13 "Add per entry expiration"
Do you plan to add per entry expiration?

[2016-04-18 19:15] druminski commented on #13
BigCache core is based on FIFO queue. With every write to bigcache the oldest entry from queue is read and its creation time is compared with expiration time. If entry is older than expiration time then it is removed from the queue. This mechanism is very simple and fast. I don't see how can we add expiration per entry without impact on performance because I assume that additional entries sorting/

[2016-04-18 20:47] yiiton commented on #13
Thank you for your answer

[2016-04-18 20:47] #13 closed

[2016-04-22 07:36] druminski commented on #4
Implemented & merged, closing the issue.

[2016-04-22 07:36] #4 closed

[2016-05-02 05:10] pyros2097 opened #14 "Event handlers for evict?"
Is it possible to have eviction handler like in the lib https://github.com/bluele/gcache? Because we need to do some cleanup whenever a cache key is evicted.

I checked out your source and it seems you do have some support for it, buts internal only here
https://github.com/allegro/bigcache/blob/master/bigcache.go#L138

[2016-05-05 23:12] druminski commented on #14
Hi, indeed, this feature is possible and rather simple, I will prepare it today, please stay in touch 😀

[2016-05-06 09:29] druminski commented on #14
@pyros2097 please take a look at #15 and let us know if it solves this issue.

[2016-05-06 09:43] pyros2097 commented on #14
@druminski Great!That does it! Man you guys are awesome :trophy:  so quick in making this change. Thanks! :smile:

[2016-05-06 09:43] #14 closed

[2016-05-06 09:53] pyros2097 commented on #14
I guess the readme has to be update with the new  OnRemove func(key string, entry []byte).

[2016-05-06 09:55] janisz commented on #14
Good point, @pyros2097 would you like to do it?

[2016-05-06 11:46] druminski commented on #14
I've found a minute and created PR #16 which updates readme.md. I decided to set default value (nil) in the example from readme, because when callback is provided then the oldest entries are unwrapped and this is unnecessary operation for clients who don't need OnRemove feature.

[2016-05-23 10:40] Freeaqingme opened #18 "Hard max cache size exceeded"
Howdy,

Last week I was able to deploy my new version of [ClueGetter](https://github.com/Freeaqingme/ClueGetter) to production. This morning Icinga alerted that pretty much everywhere where I had deployed last week we were running out of ram. A profile of the heap shows: http://storage8.static.itmages.com/i/16/0523/h_1463999604_2310069_9f039a5d50.png

How it's initialized can be seen here: https:/

[2016-05-23 12:08] janisz commented on #18
Hi @Freeaqingme

Thanks for submitting issue. At the first glance it looks weird. `bigcache` keeps one big array where all entries are stored. But we doesn't monitor size of internal map containing offset. Another thing that could make application eating so much memory is GC not freeing it — could you post your GC settings and GC log.

I hope I can create [Minimal, Complete, and Verifiable example

[2016-06-07 08:33] janisz commented on #18
I'm sorry for the delay. I think I was able to reproduce issue with [this code](https://gist.github.com/janisz/d04301463dd663584a2498f4ec086c1c)

[2016-06-07 15:58] Freeaqingme commented on #18
I'm sorry for the delay as well. It's still on my list, but had some more urgent things coming up first. Having said that, if you're able to reproduce it then at least we have got the first step towards fixing it :)

[2016-06-15 16:25] druminski commented on #18
Hi,

This issue is directly related with `map` implementation in go. I created a [ticket](https://github.com/golang/go/issues/16070) for it on a go lang issue tracker. I don't know when it will be fixed, but I will try to take a look on map implementation in a free time, maybe I will be able to propose some solution.

[2016-09-06 19:55] druminski commented on #18
I am closing the issue as there is nothing to do in bigcache to solve it. There was presented a fix for golang map in a ticket which I created. It will be probably released in go version 1.8

[2016-09-06 19:55] #18 closed

[2016-09-13 18:20] janisz commented on #18
Looks like[ golang #1670](https://github.com/golang/go/issues/16070#issuecomment-233764084) was solved!

[2016-10-03 10:57] claygod opened #21 "What is the purpose of "entries queue.BytesQueue""
Hi!

Tell us, what it uses "queue"?

[2016-10-08 09:05] janisz commented on #21
Hi

Queue is responsible for storing binary objects. Every time you store something (key,value) in bigcache value is saved in queue and index to first byte is stored in map. We are using this approach to minimize GC impact on map. When map contains pointers (e.g, stings, slices or regular pointers) GC will scan whole map. To prevent this we have map of int→int and (half)manually manage memory for

[2016-10-16 18:31] #21 closed

[2016-11-01 09:47] btesanovic opened #23 "Clear Cache"
Hay there will it be possible to add clear cache method
Thanks

[2016-11-01 21:42] janisz commented on #23
I think we can add this method. But how it should works in details. I assume after calling `Clear()` we should end up with no entries in cache. Questions we need to answer

1. Are we going to call [`OnRemove` callback](https://github.com/allegro/bigcache/blob/master/config.go#L27) for every element in cache
2. Are we going to create new (small) shard queues or just use existing one

In my opinion

[2016-11-02 20:32] wendigo commented on #23
@janisz: ```onRemove``` does not make any sense I guess (if you need keys - use iterator before clear()). I agree with you on creating new map and reseting indexes

[2016-11-03 09:18] wendigo commented on #23
I'll try to come up with an implementation

[2016-11-03 18:59] wendigo commented on #23
Solved @btesanovic. Let me know if it works for you!

[2016-11-03 18:59] #23 closed

[2016-11-07 15:03] btesanovic commented on #23
Hey @wendigo  , thanks so much for fast response, this is perfect !!

[2016-12-03 04:43] pjebs opened #27 "Redis"
Is this a good substitute for an external redis cache server?

[2016-12-03 08:58] janisz commented on #27
In my opinion not really. Bigcache is designed as a in memory concurrent-map Readis is a data structured store and has more features that are missing in bigcache.
I think the answer depends on usecase. If you need fast map in go use bigcache, if you need central storage then Redis is for you.

[2016-12-13 17:56] vtolstov opened #28 "ARC cache ?"
Does it possible to create arc cache using this library?

[2016-12-13 18:05] janisz commented on #28
I don't think so. For ARC cache you need LRU cache. Bigcache is simple FIFO cache.

[2016-12-13 18:20] vtolstov commented on #28
Thanks

[2016-12-13 18:36] #28 closed

[2016-12-30 21:53] junhsieh commented on #21
Hi @janisz , I am trying to figure it out how the queue.BytesQueue.array works.

I understood that q.head will be reset to leftMarginIndex in the Pop() function once the queue reached the maximum limit. However, what I do not understand is. Let's say:

First cycle:

Entry #1 takes 10 bytes. Entry #2 takes 30 bytes.  Entry #3 takes 30 bytes.

Second cycle (when the queue reached the maximum limit):

[2016-12-30 23:35] junhsieh opened #29 "Push emptyBlobLen inside the allocateAdditionalMemory() function"
Hi There,

I am trying to learn how bigcache works. May I know the reason why to push "emptyBlobLen" inside the allocateAdditionalMemory() function? What is the purpose of doing that? I have also noticed the constant minimumEmptyBlobSize and its comment: **"Minimum empty blob size in bytes. Empty blob fills space between tail and head in additional memory allocation."**. However, I still could not

[2017-01-04 11:48] druminski commented on #29
Hi,

There is a unit test named `TestAllocateAdditionalSpaceForInsufficientFreeFragmentedSpaceWhereTailIsBeforeHead`. It can help understand empty blob creation. On below piece of paper you can find what is going on during this test execution:

![img_1094](https://cloud.githubusercontent.com/assets/4473056/21641048/7cf929ae-d279-11e6-958b-66b7284b9d83.JPG)

As you can see in step 5a. bigger array

[2017-01-04 11:50] #27 closed

[2017-01-05 06:04] junhsieh commented on #29
@druminski Thanks for pointing me to the testing function. I have totally neglected the testing file before. After reading the codes and your detail explanation, it makes much more sense now. Thanks for your help.

[2017-01-05 06:04] #29 closed

[2017-01-16 20:50] Ewan-GrandSlam opened #30 "Old entries (un-updated) values stored in the byte queue"
Hello,

Unless I am misunderstanding, when you remove (or evict) an entry to free up space - past instructions can still exist in that queue. That means the following:

SET:
- ABC = 1
- EDF = 1
- ABC = 2

EVICT:
- ABC
- EDF

ABC still exists (due to removing only a single occurrence of it in the queue) On an update should we not be overwriting a keys previous value even in the byte allocation? Oth

[2017-01-16 21:47] janisz commented on #30
Update does overwrite a key. Take a look at [update test]( https://github.com/allegro/bigcache/blob/master/bigcache_test.go#L184). It does it by overriding previous entry with zeroes and storing offset of the new entry. Only the oldest entries are removed.

[2017-01-16 21:52] Ewan-GrandSlam commented on #30
Taken I wanted to use the same byte size for all keys (e.g only numbers) wouldn't it be more efficient to overwrite the space with the new value?

E.g set a flag for a specific key type and all keys represent that byte size.

If you do not agree with such I will just alter it for my own use otherwise I could add this and add it as a PR

[2017-01-16 23:21] janisz commented on #30
Yes and no. If you will never delete entries then indeed this will be better. But we delete oldest data first and updating data will break assumption of keeping newest data at the end of the queue. Updating data in random places of the queue will result with gaps and fragmentation after deleting oldest entries.

When you know size of your entries you can make aggressive optimisations. Definitely f

[2017-01-17 13:04] #30 closed

[2017-02-16 04:59] gangbanlau opened #31 "Eviction not perform after timeout"
I am new to golang and looking for a cache library.
after read your blog, I write a small code for study cache set/get/expire. Now I have a issue, expire not working after timeout. still can get entry from bigcache. Did I missing something?

[code]

[2017-02-16 14:13] janisz commented on #31
You got us :) We are really lazy and eviction is performed only when new item is inserted. If you try to obtain value from cache and it should be evicted but nothing was inserted you will get your value.
Maybe we should improve documentation of [LifeWindow](https://github.com/allegro/bigcache/blob/master/config.go#L9) to make it clear that eviction could never happen.

[2017-02-17 04:16] gangbanlau commented on #31
Yes ,I known your eviction design after reading your blog. So my testing code already call a cache set action after timeout. And then try to query timeouted entry.

// Eviction is performed during writes to the cache since the lock is already acquired.
cache.Set("key2", []byte("val2"))

[2017-02-17 12:35] janisz commented on #31
You are correct. The problem is we only delete oldest entry from shard where we are going to insert new value. In your example you have 1024 shards and values get into different shards.

I've prepared test for this case: https://github.com/allegro/bigcache/pull/33

[2017-02-17 13:45] #31 closed

[2017-02-27 17:18] vic4hub opened #35 "No way to increment value without updating the timestamp"
These commonly used methods are missing:

1) Increment/Decrement integer-based value without forcing a set, which puts a new timestamp - this is a problem in that, when I need to collect counts for keys which are popular, they may never expire (lets say expiration/eviction triggers a callback function which writes count value every "5 minutes" to log file)

2) Delete key - there is not way to remo

[2017-02-27 18:09] janisz commented on #35
1. If you need map of integers then bigcache is overkill. You won't gain any performance improvements comparing to concurrent-map becouse map int to int won't be scanned by GC.

2. Indeed `Delete` is missing. I don't remember why we skipped it. You can emulate it with special value e.g., replace with empty bytes.

3. I concurr. I think there should be dedicated function `Clean` that will lock cach

[2017-02-27 21:34] vic4hub commented on #35
First off, thank you very much for sharing this code, it is quite useful, as for item 1. Agreed, however in my case I wold use it as general purpose cache.

[2017-03-07 15:58] mxplusb opened #36 "Custom logging"
It would be nice if you could pass a custom logger when setting `bigcache.Config.Verbose`.

[2017-03-07 17:01] janisz commented on #36
I concurr, we should allow passing custom logger in config and use it instead of default log. Here is post about it https://dave.cheney.net/2017/01/23/the-package-level-logger-anti-pattern

[2017-06-27 22:17] mxplusb opened #38 "1.9 Concurrent Maps"
Was looking at tip for [1.9](https://tip.golang.org), there is a new feature called [Concurrent Maps](https://tip.golang.org/doc/go1.9#sync-map), wanted to start a discussion around adding support for concurrent cache ops.

Not sure on the performance of it, but the design seems fairly solid. Looks like it uses a lot of `unsafe.Pointer` types and `atomic` ops, so it might be fairly fast.

[2017-06-27 22:56] janisz commented on #38
Looks interesting. We give it a shot and try to replace current maps and locks with concurrent map. Still we need to synchronize writes to array but reads could be faster.

[2017-06-27 23:29] mxplusb commented on #38
Yeah, I think reads could be faster, but I think the writes will be about the same, maybe ±5% since the current implementation is so highly optimized. My thoughts on this would be to try replace the base `map[uint64]uint32` implementation and see what happens. I think that and removing the explicit locking would be the only change for testing this.

If it's close in performance (±10%), it might al

[2017-07-02 18:16] Oxygend opened #39 "Item is not getting updated"
[code]

The code above performs view counting for cached items.
A view counts when the record is accessed and by the time the record should be evicted it saves the number of views to the database.
The problem is when the "OnRemove" callback fires and the stored json is unwrapped the view counter is wrong. Looks like it's either not updating the record or returns me some different cached item.

The

[2017-07-02 19:06] janisz commented on #39
Thanks for reporting. I'll take a look in to this. Code you posted contains some additional variables and logic. Can you prepare [minimal and complete working example](https://stackoverflow.com/help/mcve) that will show what exactly is wrong? Best if it can be expressed as a unit test.

[2017-07-03 12:23] Oxygend commented on #39
@janisz sure. Here is the code which fully illustrates the problem

[code]

[2017-07-04 16:41] janisz commented on #39
@Oxygend I checked the output of your example. Can you describe the problem one more time? It looks like in this example proper keys are deleted. Old value is replaced with new.

In your original code you might fall into situation when different key was removed to make a space for new inserted key.

[2017-07-05 20:57] Oxygend commented on #39
@janisz as you can see from the example, I am increasing amount of views under the key "key1" until the counter reaches 4,
[code]
then I am putting the program to sleep for 5 seconds so the record under "key1" can be evicted.
[code]
After that, I am adding one more view to the counter under "key1" and right after that "onRemove" callback triggers deleteing the record under "key1" because its lifet

[2017-07-06 07:53] janisz commented on #39
Memory used by bigcache is append only. There is no chance to override given part of memory. It's a circular buffer. So when you try to update specific key, old value is persisted until it need to be deleted to free space for new entries and when it occures `onRemove` callback is fired.

[2017-07-08 12:38] #39 closed

[2017-08-04 15:18] flisky commented on #31
I'm trying to support expiration in #41, and PTAL.

[2017-10-10 08:41] #36 closed

[2017-10-10 13:40] janisz commented on #38
#49 makes possible to do this task pretty easy. Just copy implementation of [`shard.go`](https://github.com/allegro/bigcache/blob/2d020b27d7c34948fdafaca969394e50959cd236/shard.go) to new file (e.g., `shard_concurent_map.go`) and replace maps and locks with concurrent maps. Finally add build tags on both files: `// +build !go1.9` and `// +build go1.9`. This will make use of concurrent hash map def

[2017-10-10 17:52] mxplusb commented on #38
Perfect. I will work on it in the next week or so.

[2017-10-10 18:33] mxplusb commented on #38
Okay, this is actually going to be a big change as concurrent maps do not support indexing. So this will take awhile.

[2017-10-11 20:46] mxplusb opened #52 "Update release notes for v1.0.0"
The release notes for v1.0.0 won't help new users. Below is a template which can help.

\* *This Change Log was automatically generated by [github_changelog_generator](https://github.com/skywinder/Github-Changelog-Generator)*

---

**Implemented enhancements:**

- Feature Request: support to clean expired entries [\#41](https://github.com/allegro/bigcache/pull/41) ([flisky](https://github.com/flis

[2017-10-12 16:39] #38 closed

[2017-10-12 16:42] janisz commented on #52
@mxplusb Thanks for pointing it out. I've just updated our release https://github.com/allegro/bigcache/releases/tag/v1.0.0

[2017-10-12 16:42] #52 closed

[2017-10-29 18:20] #35 closed

[2017-11-13 18:00] cristaloleg opened #55 "Gathering stats"
I've a proposal to collect hit and miss(something else?) metrics.
So it'll allow to see performance of the cache and tweak TLL and size of the data.

If this will be accepted I would like to be assigned to this 😉

[2017-11-14 10:37] janisz commented on #55
I'd love to merge it!

We need to answer following questions:
- Are we going to collect global hit and miss or per each key?
- Where do we store the data?
- How do we want to expose this metric?

I'd prefer to not use any external libs in this project. Hits&Miss could be implemented as a simple counter.

[2017-11-14 10:44] cristaloleg commented on #55
Nononono, no external stuff :)

1. I think per-key will be too heavy, at least for 1st implementation.
2. Per shard in map, I'm not sure about `sync.Map` 'cause collecting stats is more write oriented, but `sync.Map` is more for read oriented.
3. WDYT about `cache.Stats() map[string]int64` ? and keys of this map are `hits`, `misses`, `avgShardSize`(just an example)

[2017-11-14 10:53] cristaloleg commented on #55
2. I forgot about `sync.Atomic`, all our counters are int64 which is quite obvious. So no locks or smth for stats, and we'll create a map only on `cache.Stats()` which is great.

[2017-11-14 11:17] janisz commented on #55
1. I concur. For first step metric per shard should be enough but we will expose them in aggregated form.
2. So we need to add stats struct to cache shard and update values with `sync.Atomic`
3. How about formalized structure instead of map? e,g.: For the first step, I'll stick with Hits and Misses only.

[code]

[2017-11-14 11:19] cristaloleg commented on #55
3/3  👍 soon I'll push changes.

[2017-11-14 16:16] mxplusb opened #56 "Proposal: Server Package"
It would be awesome to see a basic/reference HTTP implementation package here so this can be easily deployed as a basic HTTP cache.

Pros:
* So fast.
* Easily deployable to Cloud Foundry, Heroku, etc.

Here is what I am thinking. An API path like this:

[code]

For configuration:

[code]

Configuration can be read from either CLI flags, environment variables, or `.bigcacherc`. Some of the cache co

[2017-11-14 16:43] janisz commented on #56
Quick and dirty implementation:

[code]
➜  ~ curl -X PUT -d value localhost:9090/api/v1/key
value%
➜  ~ curl localhost:9090/api/v1/key
value%
[code]

[2017-11-14 17:07] mxplusb commented on #56
Yeah, that's more or less what I was thinking. I can look at a PR in the next week or some, once I have some cycles for it. I'm more or less going to do the same thing, just add a few niceties for CLI interactions.

[2017-11-14 17:11] janisz commented on #56
Cool, I'm looking forward to merge your PR

[2017-11-15 12:18] janisz commented on #55
Fixed by #57

[2017-11-15 12:18] #55 closed

[2017-11-23 04:21] irfn opened #59 "GC Pause time for maps."
I understand that benchmarks will depend on the machine used.
Following is from a 2017 Macbook pro (2.8 GHz Intel Core i7, 16 GB 2133 MHz LPDDR3)

However native Maps seems to have had a massive improvement. Is this due to go 1.9?

`go version go1.9.2 darwin/amd64`

[code]

[2017-11-23 09:54] janisz commented on #59
@irfn Looks interesting. We might need to do more benchmarks (best if we find what change fixes GC map issues in go). Maybe bigcache is no longer needed and we can rely on map from stdlib. That would be great!

[2017-11-23 10:05] cristaloleg commented on #59
Looks like bench inaccuracy due to different load in CPU(background processes etc).
Numbers are quite small(it's microseconds!) so any small fluctuations might cause quite different results.
I don't think bigcache isn't needed anymore, we might have bigger GC pauses, but during concurrent read/write shards will save us and lower our latency.
Here are my results.
Go:
[code]
Bench:
[code]
Machine:
[

[2017-11-23 13:40] irfn commented on #59
@cristaloleg I have similar results on same machine.

I am suggesting an improvement to the benchmark to get better visibility for go 1.9
There are some changes in go GC mentioned here wrt GC pauses. https://golang.org/doc/go1.9#gc

Mentioned: "The runtime.ReadMemStats function now takes less than 100µs even for very large heaps"
Few other things that point to fact that GC comparison would need to

[2017-11-23 13:55] cristaloleg commented on #59
Yeah, GC isn't a problem anymore 😄

[2017-11-29 01:24] mxplusb commented on #59
Even if maps do end up with massive improvements, I hope bigcache stays around! It's still better than the alternatives, in my mind, haha.

[2017-11-30 11:42] #56 closed

[2017-12-01 00:02] mxplusb opened #62 "Minor version bump to v1.1.0?"
Now the package is versioned, it could be good to have a minor version bump to 1.1.0 since there's a new package. and some enhancements. Below are some proposed release notes.

## [v1.1.0](https://github.com/allegro/bigcache/tree/v1.1.0) (2017-11-30)
[Full Changelog](https://github.com/allegro/bigcache/compare/v1.0.0...v1.1.0)

**Implemented enhancements:**

- 1.9 Concurrent Maps [\#38](https://gi

[2018-01-01 05:01] reza3vi opened #63 "LifeWindow not work!"
LifeWindow  property not work, entry not remove after LifeWindow .

[2018-01-02 13:46] janisz commented on #63
@reza3vi Thank you for this issue. Can you give us more details? Best if you can provide an example reproducing this bug.

[2018-01-02 17:11] reza3vi commented on #63
c := bigcache.Config{
		Shards:             1024,
		LifeWindow:         10 * time.Minute,
		MaxEntriesInWindow: 1000 * 10 * 60,
		MaxEntrySize:       500,
		Verbose:            true,
		HardMaxCacheSize:   8192,
	}
        db, _ := bigcache.NewBigCache(c)

[2018-01-05 12:40] janisz commented on #63
If you are referring to the situation when an object is available after `LifeWindow` period it's the desired behaviour. There is event test for it https://github.com/allegro/bigcache/blob/master/bigcache_test.go#L96 and documentation states

so there is no guarantee that entry will be evicted if nothing was updated.

[2018-01-07 05:11] reza3vi commented on #63
cache, _ := bigcache.NewBigCache(bigcache.DefaultConfig(5 * time.Second))
        cache.Set("key1", []byte("a"))
        time.Sleep(10 * time.Second)
        cache.Set("key2", []byte("b"))
        b, _ := cache.Get("key1")
        println(string(b))

        // print --> a

[2018-01-07 05:12] reza3vi commented on #63
Should remove key1 after 5 sec. But not work

[2018-01-07 05:48] reza3vi commented on #63
Set CleanWindow: time.Minute

Work!

[2018-01-08 10:15] janisz commented on #63
Cool :sunglasses: I'm closing the issue.

[2018-01-08 10:15] #63 closed

[2018-01-30 10:04] hashstone opened #64 "Lots of extra memory was consumed when create and delete bigcache interleavely"
### What version of bigcache are you using?
commit: 62db1442811378ae21b10e241fa226bfdc326aca

### What version of Go are you using (`go version`)?
go version go1.9.2 linux/amd64

### What operating system (Linux, Windows, …) and version?
Linux 4.4.0-87-generic 14.04.1-Ubuntu SMP Tue Jul 18 14:51:32 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

### What did you do?
[code]
### What did you expect to see?

[2018-01-30 15:20] janisz commented on #64
Hi, how do you measure memory consumption? What results did you get?

[2018-01-30 15:45] janisz commented on #64
GC log:

[code]
GC Log each test run alone
[code]
[code]
[code]

I can't see any noticeable difference.

[2018-01-31 05:22] hashstone commented on #64
hi, janisz, thanks for your reply.

I used "top" to measure memory consumption.
when I run TestBigCacheMemCost1(at process sleep time), get this:
[code]

run TestBigCacheMemCost2(at process sleep time):
[code]

run TestBigCacheMemCost3(at process sleep time):
[code]
TestBigCacheMemCost1 took much more memory(RES) than others.
I come across this problem when create and delete bigcache interleaved (

[2018-01-31 09:47] janisz commented on #64
How do you run your tests? One by one or in one command? IMO you should use [runtime.MemStats](https://golang.org/pkg/runtime/#MemStats) to obtain used memory.

I think this is not a bigcache specific question. I think it could be distilled and posted on StackOverflow.

[2018-02-01 13:18] hashstone commented on #64
@janisz, thanks for your advice!
I run tests one by one.
go test -v -run=TestBigCacheMemCost1
go test -v -run=TestBigCacheMemCost2
go test -v -run=TestBigCacheMemCost3

Yes, it's not a bigcache specific question. After 5 minutes sleep, 9.141g(RES) in TestBigCacheMemCost1 had been released.

[2018-02-01 13:18] #64 closed

[2018-02-17 17:58] faxal opened #65 "Alias key"
Is it possible to have two keys point to same cache entry?

[2018-02-17 19:07] janisz commented on #65
No is you mean proper aliasing.

You can generate hash collison and find a key that collides with another.

[2018-03-10 22:21] stevenroose opened #66 "Document what happens when an entry is not in the cache"
Does it return `nil, nil` or an error?

[2018-03-12 10:19] janisz commented on #66
It returns an error. See: https://github.com/allegro/bigcache/blob/master/bigcache_test.go#L56

[2018-03-15 10:50] #66 closed

[2018-03-15 11:12] stevenroose commented on #66
@janisz Was documentation added? This issue was created to ensure adequate documentation was provided in the API docs (method comment).

[2018-03-15 12:35] janisz commented on #66
My bad. Thank you for the contribution!

[2018-03-21 12:58] buraksezer commented on #59
Built-in map still looks like a problem for GC performance. Please take a look at the following posts:

https://www.komu.engineer/blogs/go-gc-maps
https://syslog.ravelin.com/gc-is-bad-and-you-should-feel-bad-e9bdd9324f0
https://www.reddit.com/r/golang/comments/7sws11/benchmarking_gc_pause_times_with_string_and_int/

I have tried the case which described in the first post on my computer with Go 1.1

[2018-03-21 13:10] mxplusb commented on #59
Bigcache is an exceedingly optimised version of the built-in map type that works around the garbage collection subsystem by using a (FNV-1a Hash Algorithm)[https://en.wikipedia.org/wiki/Fowler%E2%80%93Noll%E2%80%93Vo_hash_function] which converts our interface types into raw uint64s so we can store them in a standard map without pointers. By doing that, we are completely avoiding the GC. This is a

[2018-03-21 13:33] buraksezer commented on #59
I tried to state that go1.10 has the same problem:
[code]

[2018-03-21 13:36] mxplusb commented on #59
@buraksezer gotcha! Sorry, missed some of the context. I reran the stats comparison with go1.10 windows/amd64 for #69 and fixed a GC bug if you want to see the updated comparisons.

[2018-03-21 13:40] #59 closed

[2018-03-21 13:49] mxplusb opened #70 "Collaborator Permissions?"
I would like to request access to the project as a collaborator. I've contributed the server implementation (making me the second largest contributor), increased performance by 20% for parallel sets by fixing the locking strategy, and maintained contribution activity through comments in various issues and PRs.

Having collaborator access would allow me to work in branches in the main project as we

[2018-03-21 14:35] mxplusb commented on #70
I mentioned this in a private email, but I will also be willing to sign a Contributor's License Agreement, if that is a requirement.

[2018-03-22 16:08] adamdubiel commented on #70
Mike, it's great to hear that you would like to commit to development of bigcache by becoming a collaborator. We value your work and effort and @janisz had no doubts that you should become one.

So i added you as a collaborator to this project :) Welcome on board! 🍾 🎉

For know we do not require CLA, but it will probably change in the future. When it does I will reach out.

[2018-03-22 16:16] mxplusb commented on #70
That's awesome! I'm really looking forward to helping drive continued success for this product!

[2018-03-23 00:52] mxplusb commented on #62
@janisz I'm going to go ahead and update release note and get the tag in here soon.

[2018-03-23 01:31] mxplusb opened #71 "Short term goals for HTTP server"
Now that the original maintainers were graciously willing to allow me to help with the vision and execution of this project, I wanted to talk about some of the things that I am thinking of for the project. As I helped with the HTTP server, a lot of my focus is geared around it's implementation and improving upon it's implementation. It was a great 1.0 version, but it definitely has a long way to g

[2018-03-23 02:05] #70 closed

[2018-03-23 02:06] mxplusb commented on #65
Closing due to stale.

[2018-03-26 11:38] janisz commented on #65
@hobbs If you are interested in this feature we need to think about a solution. Can you propose something?

[2018-03-26 11:53] cristaloleg commented on #65
@janisz I did a small investigation today at morning., I was interested if it can be done via hash function. A small impl is here: https://gist.github.com/cristaloleg/fad647add6226659876fc716796f2a3c
but it will be much simpler to add to the each shard a new map to store aliases.
And additional exported method `SetAlias`(bot cache and `setAlias` for shard).

[2018-03-26 12:12] janisz commented on #65
I'd like to start with defining the API. How will user add an alias? What is a use case for this feature and what are the requirements? Then we can think if this could be done by extending hash function with alias map or do we need to add aliases map as an independent component.

[2018-03-26 12:25] janisz commented on #71
+1 SSL support.
+1 to Deployment manifests? I think we can start with simple docker container and template of deployment to K8s, Marathon etc.
+0.9 CLI deliverable for release. – I'm not sure if I understand correctly. Can we just add the compiled binary of a server to our release page?
+0.1 Authentication for the API for adding items to the cache – I'd like to start with a proposal of what we nee

[2018-03-26 16:59] hobbs commented on #65
I'm realizing that my requirements are more complicated than I originally thought. I'm actually looking for an alias key that points to an array of values, essentially introducing the concept of a many to many relationship. It's more of an index for specific fields in my value set.

Anyways, I think my requirements are out of scope, sorry waking up this ticket :)

[2018-03-26 19:11] mxplusb commented on #71
Sure, great place to start.

Yes, this is what I am referencing.

Sure, I can write one up.

[2018-03-26 19:13] mxplusb commented on #65
@hobbs would you be able to expand on your requirements either in this issue or another? I'd be curious to see where you see value in many-many and what you think that would add to this project.

[2018-03-26 20:40] hobbs commented on #65
Not my exact scenario, but an example:

1. Say you're caching HTML from an origin website
2. A lot of your pages use a template called "article-layout"
3. When you push a new version of that template, it'd be nice to delete all items in the cache that use that template

So it could look something like:
[code]

It's similar to what some CDNs do with surrogate keys, or cache-tags, etc:
Fastly, Part

[2018-03-27 08:07] faxal commented on #65
Use case I have is to allow cache lookup with two different unique identifiers. A common example is to lookup cached user information by both ID and username/email.

[2018-03-27 11:52] janisz commented on #65
@hobbs Do you need to query by tag?
@faxal Is the second ID added after or when the value is inserted?

[2018-03-27 11:57] faxal commented on #65
@janisz the latter, keys will be set when cache entry is inserted.

[2018-03-27 15:20] mxplusb commented on #65
@hobbs is the use case just removal? How do you see updates being handled? i.e., if you updated an existing record, `cache.Set(url, updatedPageResponse, []string{'article-layout', ...}`, what happens if there is now an orphaned tag? Would you require the tags to match when updating an existing record? What about changing tags? How would you see updating the tags on an item without updating the ite

[2018-03-27 17:28] mxplusb commented on #65
Having thought about this all morning (I have OCD), if we were to focus on this use case, which I believe could be important, I think a graph would likely be the easiest way to manage many<->many relationships that you would see with tags. I am also open to better ideas. Realistically, as long as we don't make an attempt to access any cache data when resolving tags, we could optimise certain opera

[2018-03-27 23:12] mxplusb commented on #62
This is done. See the tag.

[2018-03-27 23:12] #62 closed

[2018-03-28 22:20] mxplusb opened #79 "Branching strategy"
I've noticed recently we've had to do a few merges and I've fixed some conflicts on my end.

Currently we're using the topic branch strategy, and I'd like to move to the long-running branch strategy. See: https://git-scm.com/book/en/v2/Git-Branching-Branching-Workflows

Using the long-running branch strategy is pretty common, and it would allow us to make and merge changes as needed for developmen

[2018-04-26 16:40] hobbs commented on #65
Sorry for not getting back to you on your questions sooner. I think I would only be using the tags for deletion. And yes, Orphaned tags are definitely a concern. I may try to solve this in a naive way in the meantime, using a separate data structure to let me look up BigCache hashes by tag.

[2018-04-26 21:56] hobbs opened #81 "Per Item TTL"
Any thoughts on having a per item TTL similar to memcache/freecache/redis/etc? Unless I missed something, it appears that's not possible right now.

I think it'd be fairly easy to implement (and I can send PR if I do). Just wanted to start the discussion.

[2018-04-26 22:14] hobbs commented on #81
From: https://redis.io/commands/expire#how-redis-expires-keys

[2018-04-30 16:11] mxplusb commented on #81
@hobbs I don't see why not, but that would definitely change the API surface. Would you be willing to send in a WIP PR so we can take a look? I'd be curious to see what your implementation looks like.

[2018-04-30 17:04] hobbs commented on #81
Ended up just doing lazy TTL enforcement in the package that is using the cache, so no PR for now.

[2018-04-30 17:04] #81 closed

[2018-05-18 01:34] enocom opened #82 "Goroutine leak in NewBigCache"
An invocation of `bigcache.NewBigCache` starts a goroutine to [handle cache cleanup](https://github.com/allegro/bigcache/blob/master/bigcache.go#L76-L82) before returning a reference to `cache` to the caller.

Once the returned reference `cache` goes out of scope in the caller's code, though, the garbage collector will be unable to collect it, as the cache cleanup goroutine will continue to run an

[2018-05-18 03:34] mxplusb commented on #82
Thanks @enocom for pointing this out. Ideally I'd like to do this outside the scope of a user's purview, but I guess we'll see what happens.

[2018-05-18 03:44] mxplusb opened #83 "Feedback from Community Talk"
I totally forgot to capture this feedback live, and that's something I regret doing, so I will try to capture this well. I'm tagging the people I can remember being there, so if you see someone from the meetup is missing and you want to make sure their feedback is captured, please add them!

[Here](https://pivotal.zoom.us/recording/play/v7ijVuoFILrBPsSSqPH9ZM000f8k-3QpAZ0gRgn-LGH4_l3nOGz8Uq3Lqiwki

[2018-05-18 04:30] mxplusb commented on #65
@hobbs yeah, a naive way is best for now if you need something sooner. Not sure when I'll get around to PRAM stuff.

[2018-05-18 16:07] jasonkeene commented on #82
Implementing `io.Closer` is a pretty common pattern in Go for cleaning up goroutines. I'm not aware of any way to accomplish this outside the user's purview. Go is really explicit about having the user handle these things.

[2018-08-06 08:57] roker opened #87 "Dependent cache items"
This is one feature I found missing in all type of caches. The cached items cant be atomically made dependant to one another, the simple case would be paging:

GET /somepage/paging-1 --> cache.set("/something/paging-1", content)
GET /somepage/paging-2 --> cache.set("/something/paging-2", content)
GET /somepage/paging-3 --> cache.set("/something/paging-3", content)
POST /somepage --> cache.invalida

[2018-08-24 09:19] wI2L opened #88 "Expose ByteQueue capacity from Cache methods"
The cache already exposes the number of entries in the cache through `Len()` and some additional useful statistics through `Stats()`. I would like to be able to get the underlying size in bytes of the cache, either from a method or as a new field of the `Stats` type.

The `ByteQueue` package already have a `Capacity()` methods that returns exactly the information I need. Could we somehow, using on

[2018-08-27 09:26] #88 closed

[2018-08-27 09:27] cristaloleg commented on #88
@wI2L thanks for the suggestion 😉

[2018-08-27 09:30] #82 closed

[2018-08-27 09:35] cristaloleg opened #90 "Build failure in TestClosing"
Caused by https://github.com/allegro/bigcache/pull/84
Build https://travis-ci.org/allegro/bigcache/jobs/421015595

[2018-10-08 15:53] mfrw commented on #83
Would it be possible to make the talk accessible to all?

[2018-10-08 17:03] mxplusb commented on #83
I didn't realise it was auth locked, here is a Youtube version: https://youtu.be/K15B1FYkLDg. The audio is still sketchy because of the recording equipment.

[2018-10-10 14:48] rjasonadams opened #95 "Should MaxEntrySize include the size of the key?"
Hello,

When setting the MaxEntrySize should I include the size of the key or just the "value" size? My use case only requires checking for the existence of a key so my values are always set to nil.

[2018-10-10 16:13] #95 closed

[2018-10-14 23:24] ahmadissa opened #96 "Using bigcache with google appengine"
I'm trying to use bigcache with google appengine (go1.9) however I got the below error

`go-app-builder: Failed parsing input: parser: bad import "unsafe" in github.com/allegro/bigcache/bigcache.go from GOPATH
`

After trying some options I was able to solve the problem by not using the "unsafe" package in "encoding.go/bytesToString"

The original function was

[code]

I have changed it to:

[code

[2018-10-15 05:48] cristaloleg commented on #96
Hi, thanks for reaching out.

Yes, your change is totally safe(there is no `unsafe` package in it 😂 ) and the logic of the code is the same.

Probably we should add a build tag for `appengine` to make life easier for bigcache users.

[2018-10-15 05:49] cristaloleg opened #97 "Remove unsafe code for appengine"

[2018-10-15 18:51] lukechampine commented on #97
I can take a stab at this. Just wondering, how critical is it to avoid the `string` conversion here? Is `bytesToString` being called frequently enough to warrant the optimization?

[2018-10-15 19:27] #96 closed, assigned to nobody

[2018-10-21 18:26] andersfylling opened #100 "benchmarks gives error"
[code]

go env:
[code]

[2018-10-21 18:27] cristaloleg commented on #100
How much ram do you have?

[2018-10-21 18:44] andersfylling commented on #100
32GiB

[2018-10-22 13:21] cristaloleg commented on #100
Well, I cannot reproduce this failure.
Let me guess, 0Mb swap? :)

[2018-10-22 18:42] andersfylling commented on #100
Nope. 4GB swap.

[2018-10-24 14:57] unisqu opened #102 "any possibility to develop a hash like redis hset/hget/hdel data type for bigcache?"
i like this software and i know it's fast but i would like to have hash data structure like redis + ability to expire the hash key

is it in the production roadmap? it'll be a great add on feature.

[2018-10-24 15:23] cristaloleg commented on #102
Hi, sorry, but we don't have any plans for the such features.

Can you describe why do you need that exactly? Thank you in advance.

[2018-10-26 22:33] andersfylling commented on #100
Which version of go are you running?

[2018-11-02 16:23] pandurang90 opened #103 "Unable to get/set data in onremove callback"
Is it possible to GET/SET values inside `onremove` callback?

[code]

[2018-11-05 10:27] #103 closed, assigned to nobody

[2018-11-05 10:28] cristaloleg commented on #103
Nice solution, thanks for sharing 😉

[2018-11-10 05:32] unisqu commented on #102
for http/url caching.

[2018-11-10 05:33] unisqu opened #104 "LifeWindow: 0 <- is this valid?"
1. I would like to have unexpired LifeWindow but only through LRU removal. Is it possible with LifeWindow: 0,?

2. is bigcache production ready?

config := bigcache.Config {
		// number of shards (must be a power of 2)
		Shards: 1024,
		// time after which entry can be evicted
		LifeWindow: 0,
		// rps * lifeWindow, used only in initia

[2018-11-10 09:04] unisqu opened #105 "items never expire?"
I just realised that my items don't expire within 1 min. how to expire items?

        LifeWindow: 1 * time.Minute,

[2018-11-10 09:37] cristaloleg commented on #105
Hi, can you show your code? It's hard to guess what you're doing 😉

[2018-11-20 01:44] tangtony opened #107 "Iterator: index out of range"
Has anyone else seen this issue when using the iterator? It only happens occasionally and I haven't found a way to reproduce this:
[code]

My code looks like this:
[code]

[2018-11-20 06:55] cristaloleg commented on #107
Hm.. that's interesting.

[2018-11-20 23:41] stevegood commented on #105
@unisqu I missed it too, you need to also set `CleanWindow` in your config.

Here's a config that I'm using that _does_ expire items after 30 minutes

[code]

[2018-11-25 10:03] un000 commented on #107
[code]

[2018-11-25 10:04] un000 commented on #107
[code]

[2018-11-25 10:05] un000 commented on #107
[code]

[code]

[2018-11-25 10:13] un000 commented on #107
https://github.com/allegro/bigcache/pull/108

[2018-12-06 23:15] tangtony opened #109 "Memory usage grows indefinitely"
Hello,

I've been playing around with bigcache and I've noticed that calling Set() with the same keys causes the memory usage to grow indefinitely. Here's an example:

[code]

Running that causes the memory usage of the application to grow indefinitely until I ran out of memory.. Is this expected behaviour? I'm just using bigcache as if it was a concurrent map and I would have expected the element

[2018-12-16 13:17] philippgille opened #110 "Data race when running test with 1000 goroutines on Travis CI"
I'm developing a key-value store abstraction and implementation / wrapper package for Go and one of the implementations is for BigCache. I have a test that launches 1000 goroutines to concurrently interact with the underlying store. On my local machine it works fine all the time, but on Travis CI I **sometimes** get this warning and then a subsequent error:

[code]
For the full test output see: ht

[2018-12-16 13:35] cristaloleg commented on #110
Is it reproducible with the latest Go? (1.11.4 already)

[2019-01-11 12:21] cristaloleg opened #112 "Improve Capacity coverage"

[2019-01-12 09:14] #112 closed

[2019-02-10 21:21] savsgio opened #116 "New release"
Could you release a new version with last features and bugfixes, please?

[2019-02-10 21:30] cristaloleg commented on #116
Have created a Pre-Release, will add changelog later 😉

[2019-02-11 11:24] holiman opened #117 "Possible datarace"
I was looking into the `shard.go`, and saw the pattern below which looks racey to me. I haven't gone through all the steps to fuzz or repro it, but thought I'd post it here to get your thoughts about it.
Possibly problematic code :

[code]
Multiple readers may enter the first section in paralell, each getting an identical `wrappedEntry` for an entry to delete. They will then enter the writelocked

[2019-02-14 17:11] mxplusb commented on #117
I'd be happy to take a look at any fuzzing examples you have, but currently we don't have any data races that I'm aware of. In the case of `delete`, reads are free, but writes are not, so we are only locking when we delete the key, not when we check for it's existence.

The way it works is every key gets a hash, and then it's sent to the shards (just optimised byte arrays). When we go to get a key

[2019-02-14 20:32] mxplusb commented on #65
This has been on my mind for awhile, I haven't made any progress on it, though. I still think a graph structure is the right way to go, I'm just thinking through the graph structure.

[2019-02-14 20:33] mxplusb commented on #83
Closing since any feedback has been long captured.

[2019-02-14 20:33] #83 closed

[2019-02-14 20:34] mxplusb commented on #87
I would recommend storing that information outside of the cache as that's a bit outside the scope of what we're trying to achieve at this stage. I do think it's interesting, but we're not there now. :)

[2019-02-14 20:34] #87 closed

[2019-02-14 20:51] mxplusb commented on #100
I also was not able to reproduce this, on Windows or Ubuntu.

[code]

[code]

Closing for now, please let us know if you are still stuck.

[2019-02-14 20:51] #100 closed

[2019-02-14 20:52] mxplusb commented on #104
To answer your questions,

1. Yes.
2. Yes.

Please let us know if you have more questions. :)

[2019-02-14 20:52] #104 closed

[2019-02-14 20:52] mxplusb commented on #105
Closing as resolved. :)

[2019-02-14 20:52] #105 closed

[2019-02-14 20:53] mxplusb commented on #107
Closing as resolved in #108.

[2019-02-14 20:53] #107 closed

[2019-02-14 20:54] mxplusb commented on #109
@tangtony I've been arbitrarily working on a test use case on this, I'll let you know what I come up with.

[2019-02-14 20:55] mxplusb commented on #110
@philippgille can you give an [MCVE](https://stackoverflow.com/help/mcve)? I'm interested to see what's up.

[2019-02-14 20:58] mxplusb commented on #102
@unisqu do you need more than the built-in HTTP server we ship with?

[2019-02-14 21:20] mxplusb commented on #116
Updated the release notes and binaries.

[2019-02-14 21:20] #116 closed

[2019-02-15 07:18] savsgio commented on #116
Thank you so much! :smile:

[2019-02-15 08:39] holiman commented on #117
I tried reproing something, the result wasn't really what I expected (crash instead of error)
The testcase is below, and aside from that I modified `maxShardSize` to _not_ do the `convertMBToBytes`, but use the given value.
[code]

[code]

[2019-02-15 08:55] holiman commented on #117
A printout in the `bytes_queue` before that happens:
[code]
and
[code]
Looks like `blocksize` is sometimes corrupted. Also, I managed to get the test to execute without crashing once, and caught the thing I'd been fishing for:
[code]

[2019-02-15 09:07] holiman commented on #117
More context, printing out the data surrounding the `blocksize` read
[code]
One of the entries, namely this one (number 138 / `8A`)
[code]
has obviously overwritten the location where it looks for `blocksize`:
`[...793136 3861386138613861386138613861 3828000000497f...]`

[2019-02-15 09:14] holiman commented on #117
If I make the lock around `del` one contiguous writelock, then all errors disappear.

[2019-02-19 13:22] navinvictor commented on #31
Yes that would help others.

[2019-02-19 21:20] isiddi4 opened #121 "Why does cacheShard.set call onEvict?"
I have two problems with this:
1. It is **redundant**, the oldest entry will be removed anyway if space is needed for the new entry
2. It can cause **set** to invoke **onRemoveWithReason** with both "Expired" and "NoSpace" This is troublesome because **cleanUp** also invokes **onRemoveWithReason** with "Expired," making it impossible to differentiate between when **set** invokes **onRemoveWithReas

[2019-02-19 23:46] mxplusb commented on #121
Thanks for the feedback @isiddi4.

IIRC the original use case for better eviction support was fairly limited, so if you have a use case which extends or clarifies that reason, I'm happy to review anything you want to come up with. :)

[2019-02-19 23:50] #79 closed

[2019-02-20 15:52] isiddi4 commented on #121
Sorry for the late response @mxplusb and thanks for the quick reply.

Essentially I have some code like this in my use case:
[code]

As its possible for set to call OnRemoveWithReason with reason "Expired", it's possible for the program itself to hang as locks cannot be reacquired in go.

[2019-02-20 16:59] mxplusb commented on #121
Thanks for your potential use case. I have some questions, mostly so I understand the context.

Looking at your `OnRemoveReason`, that makes sense, you'd want to handle state changes based on the reason so it doesn't affect downstream dependencies.

Bigcache locks internally for it's state changes, so I wouldn't worry about locking the cache. You'll also take a massive performance hit as well as b

[2019-02-20 19:05] isiddi4 commented on #121
In order to answer your questions, I'll have to provide more context. This will be long so please bear with me.

I'm currently in the process of developing a network cache (cache service) for server streaming RPCs.
In otherwords, a client will send a request x, and will recieve responses x1, x2, x3,...xn via a pipe (x1 will come first, then x2, then x3,...)
I want to "grow" the entries in the cach

[2019-02-21 17:44] mxplusb commented on #121
@cristaloleg what are your thoughts on this?

IIRC you can't set and clear at the same time on the same key, we lock internally. That isn't transparent to the consumer, but that's how we handle state internally.

[2019-02-23 16:45] cristaloleg commented on #121
I'm not so sure in a `onEvict` in `Set`.
This will add additional complexity to the `Set`.

@isiddi4 have you tried to decrease clean-up timi limit?

[2019-02-24 22:27] isiddi4 commented on #121
I'm currently handling this by simply disabling clean-up altogether (CleanWindow = 0)

[2019-02-27 13:36] mangalaman93 opened #122 "Bigcache short description"
We are working on an article about the current state of concurrent cache implementations in Go. We are planning to include bigcache with following short description. Please let me know if my understanding is correct, or you would like to modify it.

[code]

[2019-02-27 14:04] cristaloleg commented on #122
LGTM, but pinging original authors to clarify this @druminski @janisz @mxplusb

[2019-02-27 14:06] janisz commented on #122
LGTM :+1:

[2019-02-27 14:33] #122 closed

[2019-02-28 18:17] mxplusb commented on #122
LGTM 👍

[2019-03-01 20:06] 1a1a11a opened #123 "Does it have LRU support?"
Does it support LRU or other eviction algorithms?

[2019-03-02 09:08] mxplusb commented on #123
@1a1a11a no, we only evict based off age, and even then it's only when something new is added.

[2019-03-02 16:25] 1a1a11a commented on #123
Thank you!

[2019-03-03 14:30] #123 closed

[2019-03-06 08:23] sergiop38 opened #124 "OnRemove event called multiple times"
is it correct that the OnRemove event is called several times for the same record?

Configuration:
LifeWindow:  1 * time.Minute,
CleanWindow: 15 * time.Second,

example (t = time):
t0: cache.set(key1, value1) // new insert
t1: cache.set(key1, value1) // update
t2: onRemove -> key1 // first event onremove
t3: onRemove -> key1 // second event onremove ???

[2019-03-08 10:47] #124 closed

[2019-03-08 10:47] craftsdong opened #125 "GC pause time"
the PauseTotal is total pause for all collections, but only once collection. so is there any mistake for calulate freecache and map pause time.

`fmt.Println("GC pause for freecache: ", gcPause())`
`fmt.Println("GC pause for map: ", gcPause())`

I think there maybe minus

[2019-03-08 20:54] mxplusb commented on #125
Sorry, could you clarify your statement? Do you mean we're showing the wrong garbage collection metrics in the benchmarking suite?

[2019-03-10 14:31] AntSeoTeam commented on #109
hello
Has the problem been solved？

[2019-03-11 07:52] craftsdong commented on #125
I am confused by the result when I alter the order of comparison. I got the reault as follows:

![image](https://user-images.githubusercontent.com/46548619/54107981-b39e2a80-4415-11e9-921d-f5ff029cd0ac.png)

[2019-03-19 10:57] #117 closed

[2019-03-28 19:28] postables commented on #105
im getting this error too, I have set a clean window to 1hr, and a lifetime of 12hr, but content is not getting cleaned.

Code:

[code]

[2019-05-15 09:34] santatic opened #126 "OnRemoveWithReason still receives deleted entry"
I deleted a key from cache, `OnRemoveWithReason` receives entry with reason `bigcache.Deleted`
But then, at expire time  `OnRemoveWithReason` still receives deleted entry with reason `bigcache.Expired`

My config:
[code]

- My OS: Ubuntu 18.04
- My go version: go1.12.2 linux/amd64
- My bigcache version: v1.2.0

[2019-05-15 20:34] mxplusb commented on #126
@santatic are you saying the entry isn't actually being deleted? Can you explain the problem/question a bit more?

[2019-05-16 07:19] ehnuje opened #127 "Possible datarace at cacheShard.get"
Is there any possibility of datarace call `RUnlock` before return by calling readEntry at the end of the function? How about call `s.lock.RUnlock()` by `defer s.lock.RUnlock()` to ensure lock is held until data copying is done?

[code]

[2019-05-16 07:20] ehnuje commented on #127
I took a look into this code since bigCache returns a not nil but empty slice which is not expected to be returned.

[2019-05-16 16:15] mxplusb commented on #127
For reasons not to use `defer`, please see #37.

[2019-05-17 01:32] santatic commented on #126
Yes, that's my case.

My steps:
1. I add key `a` = `v`
2. I delete key `a`, `OnRemoveWithReason` response key `a` with reason `bigcache.Deleted`
3. I wait for expire time `LifeWindow`, `OnRemoveWithReason` response key `a` with reason `bigcache.Expired`

[2019-05-17 12:55] ehnuje commented on #127
Thanks for the explanation =)
If so, how about getting the result from the `readEntry` and then unlock manually like below?

[code]

[2019-05-17 13:02] cristaloleg commented on #127
Good idea @ehnuje
Looks like this will solve an edge case.

[2019-05-17 21:07] mxplusb commented on #127
I'm happy to take a look at any PRs you come up with @ehnuje :)

[2019-05-17 21:08] mxplusb commented on #126
Let me see if I can reproduce it with a test case and if I can, I'll get it fixed, if not I'll have to ask you for a reproduction so that we can ensure there are no regressions later.

[2019-05-18 04:09] ehnuje commented on #127
After check the latest code, it has been fixed by e24eb225f15679bbe54f91bfa7da3b00e59b9768
I’ve only checked my local code since we recently started using bigcache. Let me close this issue.

[2019-05-18 04:09] #127 closed

[2019-05-20 13:20] weiwei02 opened #129 "The deadlock problem occurs when updating elements in the OnRemove method"
Many times I have a requirement that when an element expires and the OnRemove method is called, I want to retrieve the latest value for that key from the remote service and put it back into bigcache. But the existing shard clean method locks the shard, and the set method of bigcache locks the same shard method. Therefore, the call to the set method in the OnRemove function satisfies the necessary

[2019-05-20 13:22] cristaloleg commented on #129
What about passing an expired object to a chan and put item from chan back to the cache?

[2019-05-20 13:33] weiwei02 commented on #129
Yes, the idea is to fix the problem of automatic updates when they expire. However, the time to call the remote service is unpredictable during automatic update of expired elements, so it may be more appropriate to turn on multiple goroutines in parallel to perform this expired automatic update task. I think bigcache is a good framework to support this.

[2019-05-20 13:35] cristaloleg commented on #129
I don't get it, where do we have a remote service in such case?

I doubt that we can name bigcache a framework, it's more like a library 😉

[2019-05-20 13:59] weiwei02 commented on #129
For example, when my local program needs to store the latest application configuration information (for example, the product snapshot of jd.com and the QPS standard for data query is 4 million /s), the configuration information is persisted and stored in mysql, and the data in mysql can be updated by many other processes. In this case, I want to use bigcache to improve the query performance of the

[2019-05-20 14:11] weiwei02 commented on #129
@cristaloleg I haven't contributed code to github before fork a new branch of code to try to solve this problem. The idea is that developers configure the number of goroutines to be turned on in bigcache based on the performance of their remote service. Where do you think this method can be improved?

[2019-05-20 14:17] cristaloleg commented on #129
I will review it with @mxplusb soon (we're talking about this branch https://github.com/allegro/bigcache/compare/master...weiwei02:expire-func)

[2019-05-20 14:27] weiwei02 commented on #129
@cristaloleg   Thank you. If necessary, I will remove the ants library and write the task scheduling code that will reuse goroutine.

[2019-05-20 16:30] mxplusb commented on #129
So I have a couple concerns with the implementation details that I think can be worked through.

Let's not use a goroutine pool. Generally goroutine pools aren't aligned well with idiomatic golang design patterns, and it adds a layer of abstraction not well suited to go. Goroutines are incredibly cheap and the worker pattern in this case doesn't add enough of a performance benefit to outweigh the

[2019-05-21 02:36] weiwei02 commented on #129
@

[2019-05-21 02:36] #129 closed

[2019-05-24 11:06] hqhs opened #130 "Optional Hasher for int64 type"
Hi, thanks for awesome work! Bigcache working beautiful in production with almost 1 million rpm :)

I'm storing items in cache based in their id (int64 type), but Hasher interface supports only `func Sum64(s string) uint64` method, and because of what I implemented it as follows:
[code]
Overhead isn't noticable, but looks hacky. What's your thoughts on this? Did I miss something? Could we extend i

[2019-05-24 17:20] mxplusb commented on #130
Maybe, it would require a version bump, though, which can be fine.

We use `uint64` wherever possible primarily due to sizing concerns, since `uint64` is just a larger datatype and better for handling hashing. Is there a reason you can't use the `strconv` library?

Go ahead and file one, I (and others) can review it for sure.

[2019-05-24 19:47] cristaloleg commented on #130
1M RPM, sounds cool, well done @hqhs 🚀

[2019-05-27 09:28] FarhadF commented on #109
We got the same issue here

[2019-05-30 06:11] hiqbn opened #131 "sounds very good but production ready?"
i think i saw some issues here which makes me wonder if it's ready for production use. is it?

[2019-05-30 06:12] cristaloleg commented on #131
Yes, it's production ready for a long time 😉

[2019-05-30 06:22] hiqbn commented on #131
the latest commit message doesnt sound very reassuring...
https://github.com/allegro/bigcache/commit/e24eb225f15679bbe54f91bfa7da3b00e59b9768

can someone explain the message and still make sense of being production ready? what should i look out for?

[2019-05-30 16:36] mxplusb commented on #131
@hiqbn no piece of software is perfect, and bigcache is no exception. We do our best to ensure there's as little bugs as possible - hence the very comprehensive test suite. Regarding e24eb22, there was a test case pushed in #119 that will let us ensure if we keep seeing it, it'll fail and we'll address it if or when it comes up.

[2019-06-01 05:00] hiqbn commented on #131
@mxplusb so it is fixed or still under review?

[2019-06-03 04:47] hiqbn opened #132 "possibe to do layeredcache like https://github.com/karlseguin/ccache"
layered cache for use for http caching like
https://github.com/karlseguin/ccache

[2019-06-03 04:59] cristaloleg commented on #132
Hm...so what do you propose exactly? 🤔

[2019-06-03 06:35] hiqbn commented on #132
cache.Set("my-unique-key", "field",[]byte("value"))

entry, _ := cache.Get("my-unique-key","field)

cache.Del("my-unique-key")

[2019-06-03 07:01] cristaloleg commented on #132
Forgive me, but I don't get it.
Basically we've a cache of...caches, am I get you correctly?

[2019-06-03 09:11] hiqbn commented on #132
sort of cache of caches, more like redis hash functions hset, hget etc.

[2019-06-03 09:11] hiqbn commented on #132
alternatively, how do we achieve the same thing with bigcache?

[2019-06-03 09:13] cristaloleg commented on #132
1st solution I see:
[code]

So basically you've a prefix for each key, which says 'where' this keys is present.

[2019-06-03 10:41] hiqbn commented on #132
ok. thx

[2019-06-03 10:42] hiqbn opened #133 "possible to update expiry time only and not update the whole thing?"
possible to update expiry time only and not update the whole thing?
just update expiry time only and nothing else.

[2019-06-03 10:57] hiqbn commented on #132
key + field = value

i can't clear all key fields with delete(key)
i would like to achieve hset / hget like redis with bigcache. how can i do this?

[2019-06-03 11:10] cristaloleg commented on #132
Well, you can, you need to iterate over keys and check their prefix (see https://godoc.org/github.com/allegro/bigcache#BigCache.Iterator).
Yes, this is O(|number of keys|) but still a thing 😉

[2019-06-03 11:54] hiqbn commented on #132
that's not very smart. can design one for layeredcache?

[2019-06-03 11:55] hiqbn commented on #132
what other options do we have? smart / efficient way pls.

[2019-06-03 11:57] cristaloleg commented on #132
I suspect that number of top layers is not very big, and it's also constant (with a high probability).
So making something like `map[string]*bigcache.Bigcache` will not hurt. Care to try?

[2019-06-03 12:30] hiqbn commented on #133
feature request here :
1. get the expiry of the item,
2. update the expiry of the item.

it's great and complete with the above addition. i understand why it's written as such now. thanks for the software.

[2019-06-03 15:51] mxplusb commented on #131
@hiqbn to my knowledge it was fixed in February 2019.

[2019-06-03 16:39] hiqinternational opened #135 "I just made a variant of bigcache, and will add more features."
It's my first time editing on github. bigcache is very useful and definitely worth "improving"
Looking forward to feedback. Thanks for the software.

https://github.com/hiqinternational/bigcache

[2019-06-03 16:53] cristaloleg commented on #135
IMO: that's kinda not a pleasant behaviour in open source world. That's sounds harsh.

[2019-06-03 16:55] hiqinternational commented on #135
yes, sorry, thanks for the constructive criticism. i'm still learning how to contribute to open source world. guidance appreciated. thx.

[2019-06-03 17:42] un000 commented on #135
What's the point to maintain another repo? Welcome your commits here.

[2019-06-03 17:43] hiqinternational commented on #135
i changed the string to []byte. i dont think bigcache will want that as part of the pull... unless we change it to accept []byte as key with another function... that'll really be quite some work.

[2019-06-04 06:10] hiqbn commented on #132
sounds like a good idea. will implement when i have the time. i'm checking other options first.

[2019-06-04 06:11] #132 closed

[2019-06-04 06:11] #131 closed

[2019-06-04 15:31] mxplusb commented on #135
@hiqinternational in open source, it's generally best to start with a question about functionality via a new issue, propose new behaviour with either a another issue or pull request, and then discuss the changes. Forking is acceptable but saying _this software is very useful and definitely worth "improving"_ can be perceived as unkind, especially where communication is strictly text-based, and the

[2019-06-04 15:31] #135 closed

[2019-06-06 13:16] amudhangunasekaran opened #138 "How does LifeWindow and CleanWindow work?"
I created a BigCache with only LifeWindow and the entries never got evicted. Came here to raise a bug, but realized that I should also set the CleanWindow from https://github.com/allegro/bigcache/issues/105.

But I still have a question. How does LifeWindow and CleanWindow work? If I set LifeWindow and CleanWindow as 10 seconds, will the entries get evicted 10 seconds after they were put in the ca

[2019-06-14 16:13] mdogan commented on #109
Isn't this because with `DefaultConfig()` `CleanWindow` is `0`, so expired entries are not removed from cache?

[code]

Afaik `bigcache` can store multiple versions of the same key in the buffer.

[2019-06-17 13:25] tetafro commented on #138
https://github.com/allegro/bigcache/issues/123

[2019-06-17 15:17] moeryomenko commented on #110
@philippgille try set ```Eviction: time.Duration(5 * time.Second)``` into https://github.com/philippgille/gokv/blob/master/bigcache/bigcache_test.go#L177-L179

for `Options` you wrote https://github.com/philippgille/gokv/blob/master/bigcache/bigcache.go#L86-L92, but is not true for https://github.com/allegro/bigcache/blob/master/config.go#L9-L10.

I apologize for my poor knowledge of English

[2019-06-17 15:49] tetafro opened #139 "HardMaxCacheSize exceeded"
Sorry if this is a complete duplicate of https://github.com/allegro/bigcache/issues/18 , but that issue is 3 years old. And I see the same problem.

I even took the [code from that issue](https://gist.github.com/janisz/d04301463dd663584a2498f4ec086c1c). Here is my output:
[code]
[code]

Quite unexpected for `HardMaxCacheSize: 1`.

[2019-06-17 16:25] mxplusb commented on #138
@amudhangunasekaran `LifeWindow` is the lifecycle of the cache item, so how long before it gets evicted; `CleanWindow` is the frequency at which the evicted items are removed from memory. Does that answer your question?

[2019-06-17 16:46] mxplusb commented on #139
I think it's a config bug, both in your code and in ours. Things are removed from the cache (after eviction) at the `CleanWindow` frequency, which isn't set in either your code or and we don't provide a default. Looking at [this example](https://play.golang.org/p/UkkP2SZzt71), if you don't set a value for `time.Duration`, the default is 0. We document that having a [`CleanWindow` <= 0 means nothin

[2019-06-17 16:51] mxplusb commented on #110
@philippgille are you still running into this issue on go1.12? Also, this is specific to TravisCI, yeah?

[2019-06-17 16:58] mxplusb opened #140 "Signing commits"
I appreciate the decision behind wanting each commit to be PGP-signed for verification and security, but it raises the bar for contributors and is difficult to maintain. There are several open PRs (one by me) that can't be merged because they need to be signed. Can the decision to required PGP-signed commits be re-evaluated? It's not a very common practice from what I have seen.

[2019-06-17 17:06] tetafro commented on #139
Yeah, sorry, I've missed `CleanWindow` in config. I fixed it:
[code]
and set `repeats = 100`, which makes code run longer than `CleanWindow`. But still I get
[code]
[code]

[2019-06-18 11:50] janisz commented on #139
What version of go are you using?

[2019-06-18 11:56] tetafro commented on #139
go version go1.12.5 darwin/amd64
bigcache v1.2.0

[2019-06-19 21:46] philippgille commented on #110
Thanks for the continued interest in solving this issue. I tried to create an MCVE a while ago but couldn't reproduce the issue with it. And the gokv project wasn't build on Jenkins very often in the recent months, so I can't say whether the issue disappeared by now. I will trigger some builds on the weekend and get back to you.

[2019-06-20 05:38] amudhangunasekaran commented on #138
@mxplusb thanks for your answer! It makes sense. I assume that the `LifeWindow` works on the insertion time and NOT on the last-accessed-time. This is the behavior I observed when I tested it.  And I assume that there is no way to configure that the cache entries should be evicted based on the last accessed time instead of the insertion time (this is not a problem for me and fits with my requireme

[2019-06-20 05:38] #138 closed

[2019-06-20 16:50] mxplusb commented on #110
Thanks for trying to come up with an MCVE, that will really help. I will leave this open for now on the off chance you see it over the weekend.

[2019-06-24 15:01] gracenoah opened #142 "please update the import path in v2"
Please see https://github.com/golang/go/wiki/Modules#releasing-modules-v2-or-higher

With go modules, you can't simply tag v2.0.0 to release version 2. You should change the import path in order to allow both v1 and v2 to be used at the same time.

[2019-06-24 15:03] janisz commented on #142
@cristaloleg Why did we released it as 2.0? There were no breaking changes

[2019-06-24 15:03] cristaloleg commented on #142
Yeah, that's what I was looking for

[2019-06-24 15:11] cristaloleg commented on #142
Thank you @gracenoah for pointing on an inconsistency 🎉

[2019-06-24 15:15] gracenoah commented on #142
Sorry, there's actually one more thing necessary. You have to update the import path used in your own files. Ex:
https://github.com/allegro/bigcache/blob/ca9a59ef2ad95442436b6a0ed9f061e6a47e376a/server/server.go#L11
https://github.com/allegro/bigcache/blob/ca9a59ef2ad95442436b6a0ed9f061e6a47e376a/caches_bench/caches_gc_overhead_comparison.go#L9
etc.

[2019-06-24 15:19] cristaloleg commented on #142
Ahhhh...we've `bigcache` imports inside, tricky :D

[2019-06-24 15:22] gracenoah commented on #142
After this is fixed I think it's best to release 2.0.1 because re-tagging releases can cause issues with package caches.

[2019-06-24 15:23] cristaloleg commented on #142
Yep, good point, `2.1.0` looks fine too

[2019-06-24 15:54] hjdo opened #145 "How to store the interface{} type"
Thank you for your hard work.
I want to know how to store interface{} data, the Google is not found, I hope to get help.

[2019-06-24 15:56] cristaloleg commented on #145
You need to serialise your data to `[]byte`.

One of the examples is JSON or Gob:
[code]

[2019-06-25 14:14] hjdo commented on #145
Thank you for your reply, I have already started using it, happy.😁

[2019-06-25 14:14] #145 closed

[2019-06-28 15:25] mxplusb opened #146 "Farewell"
Team,

It's been a great couple years working on this project on and off, I've enjoyed it and I'm glad I was able to contribute. I've come to realise I have enough going on in life that I can't feasibly be an active part of this project any more, especially as I write less and less Go these days.

It's time to remove me as a maintainer. :)

Thanks,

mxplusb

[2019-06-28 17:02] janisz commented on #146
Thank you for your service, sir

[2019-06-28 17:04] cristaloleg commented on #146
Thanks, I hope it wasn't caused by upcoming `try` in Go.
Thanks once more 🎉

[2019-06-28 19:51] mxplusb commented on #146
I'd heard about it, but I haven't looked into it. This was driven purely by my focus having shifted slowly to other things and realising I no longer have the time to focus on this project like I thought I did.

I'll be around, so feel free to tap me for questions, I just can't be a maintainer. :)

[2019-06-28 19:51] #146 closed

[2019-07-10 17:27] codyohl opened #148 "panic out of range in bytes queue"
https://github.com/allegro/bigcache/blob/bbf64ae21fc5555f4e9752825ee9ffe13b1e5fa0/queue/bytes_queue.go#L222

It appears there is a bounds check before the blockSize, but then there is an assumption that adding block size is not out of bounds.

[2019-07-10 17:47] cristaloleg commented on #148
Hi, can you add a bit more details, please? What is the problem?

[2019-07-10 17:54] codyohlsen commented on #148
@cristaloleg, I can dig a little deeper into the bytes_queue to figure out what might be the right fix, but the underlying issue is that
https://github.com/allegro/bigcache/blob/bbf64ae21fc5555f4e9752825ee9ffe13b1e5fa0/queue/bytes_queue.go#L223
results in a panic because` index+headerEntrySize+blockSize  >=len(q.array)` .

There is a bounds check on L218 here: https://github.com/allegro/bigcache/b

[2019-07-10 19:06] cristaloleg commented on #148
Oh, finally I got it. I thought there is a problem on the line 222 as in the original message.

That's funny that there were no(???) panic before. I think somewhere in late 2017 I've checked this code and everything was fine. I might be wrong 😉

[2019-07-10 19:45] codyohlsen commented on #148
@cristaloleg it might be an uncommon edge case, or a misuse of the API somehow, but I did see this panic in logs using this code. If I have time, I can try to find a small reproducible test, it but it might be tough without enough knowledge about this code. I do experience this panic without changing this library, so some permutation of the usage of this API will cause the panic

[2019-08-01 16:20] durandj opened #149 "Randomized TTL on items"
I saw that #81 and #13 both referenced having a TTL on each item. Both were closed because no one wanted to make a PR or no one wanted to break the existing API. My team at work is looking to add randomized TTL's to our service so that if items are added to the cache in bulk, they don't all expire at once. I could see two different ways this could be implemented in `bigcache`. Either a new handler

[2019-08-02 18:17] cristaloleg commented on #149
Hi, I'm not sure that `RandomOffset` property will be suitable for everyone. Setting object with a specific TTL sounds more reasonable.

This idea doesn't look like a harmful change, PR sounds welcome :)

Thanks you for an interesting case.

[2019-08-05 06:15] larytet commented on #122
I would add more information regarding the collisions. I had to dig in the code to understand how the collisions are handled.

[2019-08-05 06:17] cristaloleg commented on #122
@janisz ? :)

[2019-08-05 06:25] larytet opened #150 "Disable eviction"
Something like
[code]

[2019-08-05 20:15] durandj commented on #149
My team and I spent a good amount of time trying to figure out how to make this work **without** hurting performance. Given that we're not the first to want per item TTL's and I'm sure we're not going to be the last, I figured it would be a good idea to spend some time documenting what we looked at and why we didn't end up implementing this.

**What we use the cache for now:**

We run a service th

[2019-08-05 20:15] #149 closed

[2019-08-05 20:52] mxplusb commented on #149
Thanks for the write-up @durandj, it helps!

Your cache implementation or bigcache?

[2019-08-05 21:27] durandj commented on #149
Hurt the performance of `bigcache` at large.

[2019-08-05 21:32] mxplusb commented on #149
Would you be able to provide some input on how that impacted the performance of bigcache? It would be really helpful.

[2019-08-06 12:36] janisz commented on #150
LGTM, @cristaloleg what do you think?

[2019-08-06 12:46] cristaloleg commented on #150
To be honest, I'm out of context. But what I've understood from code LGTM

[2019-08-06 12:47] janisz commented on #122
@larytet what it the question? I don't get it?

We do not handle collisions at all see: https://github.com/allegro/bigcache/blob/c00e2be7ad487b8fe06fc1da3d62edd19fb54519/bigcache_test.go#L605

Your aproach is valid and popular in hashmaps implementations ([see wiki](https://en.wikipedia.org/wiki/Hash_table#Collision_resolution)). Let's imagine we get the same hash for every entry (the worst case s

[2019-08-06 16:44] durandj commented on #149
We didn't implement either solution so I don't have hard numbers on what the actual impact would be but I can talk a bit more about each solution and where we saw strong potential for slow downs.

In the solution where we try and maintain the order of the ring buffer (so the item at the head of the buffer is the oldest and the item at the tail is the newest), you would need to add sorting to each

[2019-08-06 17:14] larytet commented on #122
I find lack of any support surprising. It is not hard to provide some mechanism which reduces significantly the probability of collisions. The complexity will remain O(1) if the linear probing is limited by a small number of slots.

In my naivety I expected the Set() to fail if there is a different key with the same hash already stored in the cache. This is not the case.

[2019-08-07 10:31] janisz commented on #122
@larytet Oh, thanks for calrifiction. Let's create new task to fix it. I updated readme for now https://github.com/allegro/bigcache/pull/151

[2019-08-07 12:21] larytet commented on #150
The patch is not intended to be a production code. I tried to explain what I am missing. The production system could introduce a configuration flag and save quite a lot of memory and code.

[2019-08-07 12:39] cristaloleg commented on #150
Well, `what I am missing in the API` sounds strange to me, 'cause there is no changes in the API (unless 1 comment?).

Basically you want to say, that we need explicitly check `LifeWindow` to be non-negative.

I don't see any problems with such change, there is only 1 question about backward compatibility (will it be broken or not?)

[2019-08-07 12:57] larytet commented on #150
The patch changes the API. The patch breaks the backward compatibility for applications using large timeouts.

[2019-08-07 13:01] cristaloleg commented on #150
We might release v3 soon, with additional changes, so I think it's good to keep eye on this issue.

Thanks for sharing 😉

[2019-08-07 17:10] mxplusb commented on #149
To make sure I understand correctly, you are suggesting that by iterating and updating the oldest item, there's a chance for memory segments to be non-contiguous, leaving essentially empty memory segments that can't be assigned? Is that an accurate understanding of what you are suggesting?

[2019-08-07 21:13] durandj commented on #149
Right so say you have 5 items in the buffer and they're in some random order. If you remove the oldest item, it might be somewhere in the middle. So you now have an empty slot that is available. Let's then say that two new items are added to the buffer and they are able to fill most of the space that that previous item occupied. There might now be an area of the buffer that is too small to be usab

[2019-08-08 03:56] AnikHasibul opened #152 "Confused with LifeWindow and CleanWindow"
There's already a closed issue #138 . But I'm still confused.

Can someone please explain:

* What is `LifeWindow`?
* When does `LifeWindow` starts counting?
* What is `CleanWindow`?
* When does `CleanWindow` starts count?
* Is `LifeWindow` and `CleanWindow` is for each item or all the items?

Thank you!

[2019-08-08 10:12] janisz commented on #152
https://github.com/allegro/bigcache/blob/c00e2be7ad487b8fe06fc1da3d62edd19fb54519/config.go#L9-L10

`LifeWindow` is used when clenup is performed or there is no more space left and new item is going to be inserted.

https://github.com/allegro/bigcache/blob/c00e2be7ad487b8fe06fc1da3d62edd19fb54519/config.go#L11-L13

Think about it as a garbage collector with a schedule. It works in given interval r

[2019-08-11 22:37] viktorwork commented on #142
Any news?

[2019-08-13 07:08] cristaloleg commented on #152
Yes, you are right @AnikHasibul

[2019-08-13 07:11] AnikHasibul commented on #152
Can you please add this to README just for making it clear? I have seen many people had opened issue and confused with this.

[2019-08-13 07:14] cristaloleg commented on #152
Sounds reasonable, btw everything is in the documentation 😉 (I mean godoc)

[2019-08-13 07:19] AnikHasibul commented on #152
Thank you @cristaloleg and @janisz ! Closing...

[2019-08-13 07:19] #152 closed

[2019-08-16 12:52] mingard commented on #109
Even with the following config I'm still seeing exponential growth in memory usage:

[code]

They appear to be removed from `cacheShard.hashmap`, but cleanup aren't followed by a reduction in memory usage.

OS: Ubuntu 18.04.2 LTS

[2019-08-16 18:16] mxplusb commented on #109
@cristaloleg or @janisz is this unexpected behaviour? Because we don't use pointers, there's no garbage collection runs against allocated objects, so no memory would ever be freed.

https://github.com/allegro/bigcache#how-it-works

[2019-08-16 19:05] cristaloleg commented on #109
I'm curios what will happen if @mingard will invoke https://godoc.org/runtime#GC once per minute.

That's a really strange behaviour that Bigcache still allocates memory.

[2019-08-23 11:58] mingard commented on #109
@cristaloleg We've done a lot of investigation and it looks like even with GC calls, the system isn't freeing up memory.

We ended up looking at the way bigcache handles eviction, and it appears that it's a little lazy (in a good way). Whilst memory is marked as free, it doesn't perform eviction until a new item inserted.

This was confirmed by digging through similar issues to find this comment:

[2019-08-23 12:02] cristaloleg commented on #109
Thanks for the information, looks like you've observing this behaviour: https://utcc.utoronto.ca/~cks/space/blog/programming/GoNoMemoryFreeing

Yep, mentioning such behaviour in README is a good idea, do you want to try? 😉

[2019-08-23 12:40] mingard commented on #109
@cristaloleg https://github.com/allegro/bigcache/pull/154

[2019-08-26 07:12] cristaloleg commented on #109
Fixed in https://github.com/allegro/bigcache/pull/154

[2019-08-26 07:12] #109 closed

[2019-08-26 12:47] FarhadF commented on #109
I think this is not the behavior. You can disable it on go 1.12 with GODEBUG=madvdontneed=1 flag or use go 1.10 and still go OOM while doing OP test. I worked around it by limiting overall bigcache memory with ```HardMaxCacheSize``` but it is not ideal as it reduces performance

[2019-08-29 07:07] savsgio commented on #142
Hi, you could rerelease the version 2.1, because it has an invalid version format of go modules, it must follow the semantic versioning, that is, X.Y.Z (not X.Y).

Thanks

[2019-08-29 07:09] cristaloleg commented on #142
@savsgio v2.1.1 https://github.com/allegro/bigcache/releases/tag/v2.1.1

[2019-08-29 07:13] savsgio commented on #142
Thanks 👍

[2019-09-08 22:05] donomii opened #156 "package github.com/allegro/bigcache/v2/queue: cannot find package"
Directory v2 does not exist.  patch dc3aaab9 breaks all installs

package github.com/allegro/bigcache/v2/queue: cannot find package "github.com/allegro/bigcache/v2/queue" in any of:
	/home/travis/.gimme/versions/go1.7.linux.amd64/src/github.com/allegro/bigcache/v2/queue (from $GOROOT)
	/home/travis/gopath/src/github.com/allegro/bigcache/v2/queue (from $GOPATH)

[2019-09-09 05:36] cristaloleg commented on #156
What version of Go do you use?

[2019-09-09 09:19] donomii commented on #156
I was using 1.7 on Travis.  It seems to work with 1.11.

Might be worth a mention in the docs somewhere? From my point of view, it just stopped working

[2019-09-09 09:19] #156 closed

[2019-09-09 09:22] cristaloleg commented on #156
As expected, it doesn't work with old Go due to migration to Go modules.

Yep, good point to mention Go compatibility, thanks.

[2019-09-09 12:47] snacker81 opened #158 "Implement new append function to use bigcache as index for internal database"
Hi there,

I want to use bigcache for an index for my own "memory database".

My records have various fields and are indexed by a uint64 primary key. I now want to add secondary indices for columns pointing to primary keys. The data structure would look like the following:

bigcache[<columnvalue>] = `<uint64>,<uint64>,<uint64>`...

So for example my record has a column "city" and I want to an inde

[2019-09-09 12:55] cristaloleg commented on #158
Hi, your idea look reasonable. bigcache is a key-value store, so to implement locking per index/column you need to lock whole cache(to be precisely - only 1 shard).

I suggest to look into Cockroachdb internals, 'cause they're doing almost the same except the storage layer is based on RocksDB. A bunch of code but you might find something interesting for you 😉

[2019-09-09 18:19] mingard opened #159 "Entry stats"
Being able to see the number of times a cached resource was requested is a useful metric, especially at the point of removal.

As a production example, `OnRemove` could be used to trigger cache pre-warming based on the frequency of cache hits on a resource within a given window.

I'm aware of the overhead of storing such data by default and suggest this only as an optional parameter.

Thoughts?

[2019-09-09 18:33] mxplusb commented on #159
That already exists, [see here](https://github.com/allegro/bigcache/blob/master/stats.go). Or is this something different?

[2019-09-11 08:59] zuzuviewer opened #160 "queue new issue"
[code]
`array` and `headerBuffer` use make to initalize, but the second param of make is len, if `initialCapacity` means capactiy, it shoud be use as third param(`make([]byte,0,initialCapacity)`)

[2019-09-11 09:07] cristaloleg commented on #160
Nice catch @zuzuviewer.

Well the problem is related only to variables names, looking down the code (https://github.com/allegro/bigcache/blob/master/queue/bytes_queue.go) we can see that there is no usage of `append` func over array.

If you think it will be better to rename `NewBytesQueue` params to something less tricky I encourage you to make a pull request 😉

[2019-09-11 09:21] zuzuviewer commented on #160
@cristaloleg ,I look this just now,so I can't pull right now.Maybe I can pull request few days later.But now I see some func use this capacity ,for example 'func (q *BytesQueue) availableSpaceAfterTail() int',I think there ensure use it as capacity

[2019-09-11 12:26] #142 closed

[2019-09-11 13:02] mingard commented on #159
@mxplusb those are global stats but not specific to the Entry. I was thinking `EntryInfo` could be extended to handle some Entry stats, and be exposed somehow. Currently the only way to see `EntryInfo` is to use `EntryInfoIterator` could be heavy when used in a hot path, and also doesn't _yet_ store stats.

[2019-09-11 13:13] cristaloleg commented on #159
Currently we don't have this feature, but the idea sounds reasonable. Store per item stats might be useful.

I'm afraid of few obvious things:
1. memory consumption
2. additional work (in terms of CPU and latency)

To solve 1st we might ask for a max memory for stats (treat this as a leaking stats).
Regarding the 2nd it's an open question. I know for sure that such stats should be optionally enabl

[2019-09-11 14:39] mingard commented on #159
@cristaloleg I think definitely making this optional and default to *disabled*. In respect to the memory issue, I suppose it's worth testing, but as long as the stats are minimal, perhaps just a request count per entry, and they are properly disposed of when the entry is removed it shouldn't be too heavy.

In relation to CPU where a number will need to be incremented each time an Entry is accessed

[2019-09-11 16:30] mxplusb commented on #159
I don't think the memory consumption will be terribly high, we could limit it to `uint64` types, and then just roll over if we hit the limit. That's 8 bytes per entry, so `m = 8 * numEntries` for guaranteed memory usage. Assuming my math is correct, there would need to be 134MM cache entries to consume 1GB of memory on cache entry stats, which seems like a fair tradeoff. There will be a small bit

[2019-09-12 06:28] zuzuviewer opened #161 "reset key"
I have a problem:
      ` cache, _ := bigcache.NewBigCache(bigcache.DefaultConfig(10 * time.Minute))

	cache.Set("my-unique-key", []byte("value"))

	entry, _ := cache.Get("my-unique-key")
	fmt.Println(string(entry))
	cache.Set("my-unique-key", []byte("values"))

	entry, _ = cache.Get("my-unique-key")
	fmt.Println(string(entry))`
set the same key twice with different value.bigcache can get the newe

[2019-09-12 07:54] cristaloleg commented on #110
Kindly ping @philippgille @mxplusb. Any progress/updates?

[2019-09-13 07:46] cristaloleg opened #162 "Create separate benchmarks repo"
Based on this [comment](https://github.com/allegro/bigcache/pull/155#issuecomment-526491724) we can move benchmarks dependencies to another repo. This will reduce number of deps in go.mod, which will improve build/fetch times for the users.

[2019-09-13 09:44] mingard commented on #159
@mxplusb I'll do my best!

[2019-09-16 06:52] zuzuviewer commented on #161
@mxplusb ,I don't think so,I didn't see any code to reset array's data with the same key.If it is overwritten the old value,it should change the indexs with stored data after overwritten.I think it is not overwritten old value,it's just append new value and refresh entries with new index.

[2019-09-16 08:54] janisz commented on #140
@cristaloleg Can we remove this requirements? Or at least allow merging by admins? I have no write access to  repo settings since I no longer work at @allegro

[2019-09-16 08:56] janisz commented on #161
@zuzuviewer You are right, bigcache architecture is based on big queue. We do not remove entries from the middle of it.

[2019-09-16 08:58] cristaloleg commented on #140
Many of other Allegro projects do not require signed commits, so signing is currently disabled.

[2019-09-16 08:58] #140 closed

[2019-09-19 22:04] ilyaglow commented on #126
Here's the test that catches this case:
[code]

It seems that `OnRemoveFilterSet` function is involved. Does your case include it @santatic?

[2019-09-21 19:50] FrankReh opened #163 "Confusing "GC pause time" section"
The README.md, line 135, still says the GC pause for map is over 10 seconds but the table shows only 52 ms. This discrepancy probably came from #69. Perhaps this line in the README should say the pause used to be over 10 seconds?

The go GC certainly has gone through huge strides since go1.6 so GC pause times might not be a good measure of bigcache's worth any longer. The GC might still be spendin

[2019-09-22 22:10] jgheewala opened #164 "Callback function for LifeWindow"
Hi,

I have a requirement, that when an entry is marked for eviction (LifeWindow) I want to call a callback function before it gets evicted (essentially CleanWindow). Was looking at the config object and found out that callbacks are only supported for evictions.

Can you please share details on whether this can be supported or not?

[2019-09-23 05:12] cristaloleg commented on #164
Hi, can you describe your goal more detailed?
What is the point to have a callback before marking entry for eviction? or do you want to call callback after marking such entry?
BTW, are you interested in changing entry status? (evict/no evict).
Thanks.

[2019-09-23 05:53] jgheewala commented on #164
Hi,

So the requirement is as follows:

entries:
(k1, v1)
(k2, v2)
...
(kn, vn)

**example 1:**
config:
_lifewindow_: 10mins
_cleanwindow_: 0

_lifeWindowCb_ : func () { do something for the entry which got marked as dead}

**example 2:**
config:
_lifewindow_: 10mins
_cleanwindow_: 15mins

_lifewindowCb_: func() { // do refresh for the entry which got marked ad dead}
_cleanwindowCb_: func() {// up

[2019-09-23 11:26] janisz commented on #163
I think we somehow missed this PR in master branch https://github.com/mxplusb/bigcache/commit/1dc8897498212e7bb27c747a04ef9c7dca5c4ab7

[2019-09-23 11:41] janisz commented on #163
https://github.com/allegro/bigcache/pull/165

[2019-09-23 11:46] #163 closed

[2019-09-23 11:47] cristaloleg commented on #164
@janisz any comments?

[2019-09-23 12:12] janisz commented on #164
I think we can add new callback

[2019-09-23 13:56] jgheewala commented on #164
Thanks a lot 😊

[2019-09-23 14:48] janisz commented on #164
@jgheewala wyould you like to create a PR with this change? It should be pretty straight forward

[2019-09-23 15:37] jgheewala commented on #164
@janisz sure i will send PR, when i have the code ready.

[2019-09-23 20:47] jgheewala opened #166 "Get Api changes"
Hi,

Below is a requirement for Get(key) changes. As per information on README
[code]

Suggesting an API GetWithInfo(key). it will return RemoveReason for the requested Key.
Use case: Imagine that i have 1000 entries in cache, with lifewindow as `1m` and cleanwindow as `30m`. I will return entry as `Expired` and let the caller make it's choice on this return information. For me it will mean that T

[2019-09-23 22:08] janisz commented on #166
Adding new method to API is OK but I think instead of returning just remove reason we should wrap it with structure just in case we would like to return more information in the future.

[2019-09-23 22:30] jgheewala commented on #166
@janisz sure i will take care of this also. Will send PR soon. Thanks a ton for the response

[2019-09-24 05:27] cristaloleg commented on #166
It's better to keep discussion only one one issue.

[2019-09-24 09:46] janisz opened #169 "Add more caches to benchamark"
We should add following caches to our benchmark set

* https://github.com/dgraph-io/ristretto
* https://github.com/VictoriaMetrics/fastcache
* https://github.com/goburrow/cache

[2019-09-25 14:45] olivierperes commented on #148
@cristaloleg I obtain this panic while using an iterator to check all entries whose name match a given pattern and deleting them, while other processes are adding entries. It is also possible that two of these iterators work concurrently, but they cannot try to delete the same entries. Is this a supported pattern?

[2019-09-25 14:47] janisz commented on #148
@olivierperes Can you provide code to demonstrate this behavior?

[2019-09-25 14:53] olivierperes commented on #148
This is the function that deletes entries. Unfortunately I cannot provide a unit test. My program can run for about 12 hours before the crash occurs.
[code]

[2019-09-25 15:16] janisz commented on #148
That's important information. I suspect your program alocates more and more memory until it reaches

https://github.com/allegro/bigcache/blob/c00e2be7ad487b8fe06fc1da3d62edd19fb54519/config.go#L23-L27

So here
https://github.com/allegro/bigcache/blob/e24eb225f15679bbe54f91bfa7da3b00e59b9768/queue/bytes_queue.go#L81

we may allocate less memory than we need

I think the bug may be here
https://gith

[2019-09-25 15:51] janisz commented on #148
Here is small visualization https://storytime.dev/preview/5d8b85caddbb4e10b4566fc9

[2019-09-26 02:57] clover-xj opened #170 "gc pause time on README.MD, which is wrong"
GC pause time

go version
go version go1.13 linux/amd64

cd caches_bench; go run caches_gc_overhead_comparison.go

Number of entries:  20000000
GC pause for bigcache:  1.506077ms

go version
go version go1.13 linux/arm64

cd caches_bench; go run caches_gc_overhead_comparison.go
Number of entries:  20000000
GC pause for bigcache:  22.382827ms

Number of entries: both  20000000, which is wrong?

[2019-09-26 09:22] janisz commented on #170
Can you elaborate?
I run benchmark on my local machine and and ARM server, that's why we get different results for the same test.

[2019-09-26 10:43] gomonuk opened #171 "BigCache took up all the memory(24gb) and was killed by the OS"
Hi.
I try load to BigCache 200 millions pair key:value, but unfortunately my golang script took up all the memory(24gb) and was killed by the OS.

My bigcache config:
`
config = bigcache.Config{
		Shards:           512,
		LifeWindow:       10 * time.Minute,
		MaxEntrySize:     16,
		HardMaxCacheSize: 0,
	}`

Please tell me what am I doing wrong, maybe I did the wrong config?
Or can you tell me ano

[2019-09-26 10:47] cristaloleg commented on #171
Hi, what is the size of data from CSV ? (24gb / 200M = 120bytes on average)
Have you tried to insert less entries, like 100M ?

[2019-09-26 16:41] jgheewala commented on #166
Same as 168[https://github.com/allegro/bigcache/pull/168](url)

[2019-09-26 16:41] #166 closed

[2019-10-01 07:23] olivierperes commented on #148
Hello @janisz. Just to be clear, is someone working on this or are you expecting a PR? In principle I would volunteer but in this case, it seems to require a very good knowledge of the code.

[2019-10-01 09:29] janisz commented on #148
I tired to reproduce this issue with approach I presented above but I can't do it. It's hard for me to figure out the order for inseritions/deletions to get invalid state.

[2019-10-01 15:51] jgheewala opened #173 "Expired exposed constant should not be 0"
Go defaults to `0` so in case we want to return EntryStatus (Expired) back to the caller; Expired cannot be differentiated.

@cristaloleg this is opened in line with comment on https://github.com/allegro/bigcache/pull/168

[2019-10-04 07:52] cristaloleg opened #174 "Improve changelogs"
Currently there is no automation for release notes/changelog (see latest https://github.com/allegro/bigcache/releases/tag/v2.1.1 and https://github.com/allegro/bigcache/releases/tag/v1.2.0).

It will be good to have some automation for this, so changelog will be created automatically (it's fine to paste it manually, but the text should be done automatically).

PLEASE if you're going to start worki

[2019-10-04 07:54] cristaloleg opened #175 "Migrate from Travis to Github Actions"
Migrations should be quite easy, it should be enough to reimplement same steps in travis.yml to Github Actions config.

PLEASE if you're going to start working on this issue, comment below, to discuss the solution, thanks in advance.

[2019-10-04 12:54] muzavan commented on #174
Hmm, what do you think the best way to generate the Changelog? Commit message?

[2019-10-04 13:02] cristaloleg commented on #174
@muzavan I think it will be better to add descriptions at Github releases page (see links in issue description). There should be automatic tools for that.

[2019-10-04 15:41] mxplusb commented on #174
@cristaloleg this is what I was using to generate release information: https://github.com/github-changelog-generator/github-changelog-generator

[2019-10-04 15:55] cristaloleg commented on #174
@mxplusb can we automate this somehow? even makefile command will be enough, imo

[2019-10-04 17:00] mxplusb commented on #174
Yeah, we definitely can. It's mostly around just automating against tag management, so it's pretty straightfoward.

[2019-10-04 17:35] gnomeria commented on #175
Hello, I'm interested on this issue. Can I do it? I'll start by reimplement from the travis.yml

[2019-10-04 18:22] cristaloleg commented on #175
@gnomeria yep, good luck

[2019-10-05 12:21] gnomeria commented on #175
I was having an issue with uploading the cover results to the coverall using goverall. Do you think we could switch to Codedov @cristaloleg ?

[2019-10-05 12:22] cristaloleg commented on #175
@gnomeria yeah, coverall returns 5xx last weeks as I see (other projects too). I'll make an issue regarding migration (let's make it in separate PRs, please)

[2019-10-05 12:24] cristaloleg opened #176 "Migrate to Codecov"
As it was mentioned by @gnomeria in https://github.com/allegro/bigcache/issues/175#issuecomment-538645147 we're interested in migration to an other code coverage service.

[2019-10-05 14:43] gnomeria commented on #176
I've implemented initial codecov, but it needs the #175. Also it would need you to set a secret `CODECOV_TOKEN` in the repository so that it could upload the test results.

[2019-10-05 16:28] gnomeria commented on #174
I've implemented a github action using https://github.com/marketplace/actions/release-drafter.
It will create a release draft every time a pr is merged into the master branch. I can make a pr for this one if you'd like. I think this doesn't interfere with #175 integration tests.

[2019-10-05 16:30] cristaloleg commented on #174
@gnomeria sounds awesome, let's make it! +1 🎉

[2019-10-05 16:31] gnomeria commented on #174
![image](https://user-images.githubusercontent.com/3047437/66257846-2adb4780-e7c8-11e9-80ba-ed407200f1a8.png)
would be something like this

[2019-10-05 16:33] cristaloleg commented on #174
Good, exactly what good project should have.
Sadly current release will be huge, time to change this.
I'm completely for such change with automatic changelog, hopefully no one objections from others @muzavan @janisz

[2019-10-07 18:41] janisz commented on #148
How about using https://github.com/dvyukov/go-fuzz to reproduce this bug. I came up with following   piece of code. I have no experience in fuzzing so it might be totally wrong but at least we can iterate on this. We know bug is in [Queue](/queue.go) and my approach is to use random data to perform random operations on Queue (Push with random length and Pop).

[code]

[2019-10-07 18:41] janisz commented on #170
Can we close it cc @cristaloleg

[2019-10-07 18:45] #170 closed

[2019-10-09 04:47] jgheewala commented on #173
send PR https://github.com/allegro/bigcache/pull/181

[2019-10-09 04:47] #173 closed

[2019-10-21 22:27] vtolstov commented on #150
any chance to get this in v3 and also v3 release?

[2019-10-22 14:17] mxplusb commented on #150
I think this is something which should make it into v3.

In the small scale, I don't see a difference, I think we'll see marginal performance improvements when working with millions of objects because we're not doing a double comparison.

[2019-11-05 09:39] #159 closed

[2019-11-30 08:54] mingard commented on #159
@cristaloleg is it possible to release this?

[2019-11-30 10:01] cristaloleg commented on #159
@mingard done! see v2.1.4

[2019-12-02 07:52] mingard commented on #159
@cristaloleg thank you so much!

[2019-12-02 11:53] cristaloleg commented on #176
Fixed in #179

[2019-12-02 11:53] #176 closed

[2019-12-02 11:53] cristaloleg commented on #175
Fixed in #180

[2019-12-02 11:53] #175 closed

[2019-12-02 14:26] janisz commented on #148
This is similar to: https://github.com/janisz/bigcache/commit/e73c96d8b9c30e2f5247ce96521edbd62b5d096b/checks
[code]

[2019-12-02 14:26] #162 closed

[2019-12-02 15:15] janisz opened #189 "Remove dependecy to github.com/stretchr/testify"
We are using only a small subset of github.com/stretchr/testify we can simply remove this dependecy and use `assertEqual` function. This will make our project dependency less.

https://github.com/allegro/bigcache/blob/master/go.mod#L5

[2019-12-02 17:34] mxplusb commented on #148
I'm also not an expert, but you can prolly come up with a test case like you have already and then just loop over it N times with a fuzzer providing some data and then when it crashes, we'll see what happens.

/shrug

[2019-12-02 17:43] mxplusb commented on #189
Yeah, I can agree to this. Might as well use only the standard library whenever possible.

[2019-12-02 18:40] janisz commented on #148
[code]

[code]
It looks like two entries can override each other.

[code]

[2019-12-02 19:06] janisz commented on #148
https://storytime.dev/preview/5de55ab8ddbb4e10b45671df

[2019-12-03 21:49] #189 closed

[2019-12-09 16:58] mxplusb commented on #148
Race condition or bad locking?

[2019-12-09 17:04] janisz commented on #148
I think it could be a bad locking
@codyohlsen Do you experience same problems with the latest version of bigcache?

[2019-12-09 17:06] mxplusb commented on #148
I saw this before the PR, and I would agree it's likely bad locking. Ideally, bigcache should deterministically lock on any operation, but I'm not really sure if that's reasonable.

[2019-12-30 14:19] youqiandelaotou opened #194 "BytesQueue allocateAdditionalMemory Questions"
Hi, I have a question in BytesQueue part.
Why reset (q.head = leftMarginIndex, q.tail = q.rightMargin) in function allocateAdditionalMemory. Will it cause some entries live longer than lifeWindow during cache cleanUp when additional memory allocated?

[2020-01-03 11:55] lcken opened #195 "Can entry be an interface{} type?"
I don't understand why entry should be a []byte type? This makes me do extra Marshal/Unmarshal work when I Set/Get items.

[2020-01-03 11:57] cristaloleg commented on #195
Hi there, well, that's one of initial designs goals - be able to cache data received through network. That's why the data is marshaled to []byte.

You might want to use https://github.com/hashicorp/golang-lru

[2020-01-03 12:20] lcken commented on #195
Thanks answering my confusion. I think i would want to use like  [https://github.com/hashicorp/golang-lru](https://github.com/hashicorp/golang-lru) + [https://github.com/patrickmn/go-cache/issues](https://github.com/patrickmn/go-cache/issues).

[2020-01-03 12:20] #195 closed

[2020-01-20 21:40] janisz commented on #148
This just hit me
[code]
On `BenchmarkReadFromCacheWithInfo/1-shards-4                    	signal: interrupt`
Using Go go1.14beta1_linux_amd64 test was slightly modified I set `HardMaxCacheSize:   16 * 1024,`

[2020-01-28 17:28] janisz commented on #148
I prepared a test for this issue – unfortunately it's far from minimal but still reproducible example
[code]

[2020-01-28 17:31] mxplusb commented on #148
The fact this feels like a transient locking issue is strange. I might try to take some time this week to work on it since I have some cycles.

[2020-01-28 17:40] janisz commented on #148
I found 3 problems:
* Peek can return empty data without an error (this will cause panic when trying to decode entry)
https://github.com/allegro/bigcache/blob/32b9aa9b686b8fc148dcb98eb31e830fe58d5982/queue/bytes_queue.go#L208-L216
* We do not check if initial capacity is lower than hard max shard size
https://github.com/allegro/bigcache/blob/32b9aa9b686b8fc148dcb98eb31e830fe58d5982/queue/bytes_que

[2020-01-28 18:11] janisz commented on #139
@tetafro if looks like the problem you mention is related to initial shard size that could be bigger than hard max cache size. I think we should return error in big cache init function but this may break existing installations where users may use smaller values to prevent cache from growing

[2020-01-28 18:13] janisz commented on #125
I think it was fixed by https://github.com/allegro/bigcache-bench/pull/8

[2020-01-28 18:36] janisz commented on #110
https://github.com/philippgille/gokv/pull/89

[2020-01-28 19:19] janisz commented on #110
@cristaloleg I think we can close this issue

[2020-01-29 17:44] philippgille commented on #110
Sorry for not being very responsive in this thread last year! And thanks again @janisz for the recent PR! If my Travis CI builds fail with a similar message again some time in the future I will create a new issue and link this one.

Thanks everyone for willing to help solve the issue!

[2020-01-29 17:44] #110 closed

[2020-01-30 14:31] scottgerring commented on #139
Ive just discovered this myself and was surprised based on the description in the doco:

[code]
 Would limiting the initial shard size to the maximum shard size here fix the problem?

https://github.com/allegro/bigcache/blob/fcb069f75b4e189149205a09c2e83e7ff22c18a4/shard.go#L306-L312

[2020-01-30 14:37] janisz commented on #139
I think we should add validation. If initial size is bigger than max size then we should return error or just log it to keep backward compatibility.

[2020-01-30 14:38] scottgerring commented on #139
Might be worth updating the fairly strong assertion in the readme to clarify when the hard limit wont be honored as well?

[2020-01-30 14:50] janisz commented on #139
Sure, @scottgerring would you like to contribute a patch?

[2020-02-05 10:37] #158 closed

[2020-02-05 16:47] mxplusb opened #204 "Persistence"
It would be great if bigcache had a feature where it could save it's state to disk so it could be restarted. I'm thinking there could be a storage interface which defined the API and then the initial implementation could be some base layout, like JSON or something.

[code]

This has come up a few times and it might be an interesting interface to explore.

[2020-02-13 08:34] ineiti commented on #97
@lukechampine - currently looking at all dependencies with `unsafe` from c4dt/byzcoin, and I'm also wondering if it's really worth it to use `unsafe` here?

[2020-02-13 08:51] cristaloleg commented on #97
@ineiti well yes, but everything depends on a context.

AppEngine do not allow you to use anything from `unsafe` package, but when all your product is build on such platform, you do not have many options. And obvious one is to remove any `unsafe` things.

IMO: there is no sense to add `// build !appengine` and remove `unsafe` until you need it heavily. For BigCache it make sense due to wide usage

[2020-02-13 11:20] janisz commented on #97
I did some benchmarks

[code]

[2020-02-13 11:23] cristaloleg commented on #97
@janisz what exactly do you compare? :)

[2020-02-13 11:27] janisz commented on #97
[code]
[code]

[2020-02-13 14:09] ineiti commented on #97
So I guess your diff misses the `return string(b)`...

Anyway, looking at the times and memory allocated, it seems that the unsafe `bytesToString` is not really worth it.

Funny thing is that https://github.com/prataprc/goparsec/blob/master/scanner.go#L228 is doing nearly the same. Was there an old version of go that misbehaved when you did a `string(b)`?

[2020-02-13 14:24] janisz commented on #97
[code]
[code]

[2020-02-13 14:31] cristaloleg commented on #97
^^^ it does make sense, 'cause converting `[]byte` to `string` must create an immutable object (a string). And with a current Go memory model there is no other way to do this without an allocation.

Converting `[]byte` to `string` via unsafe, via direct memory addressing solve this. It's possible that we do not have such place, where we convert bytes to string and that's why we do not see any chan

[2020-02-13 14:47] janisz commented on #97
We need more benchmarks, The only usage of `bytesToString` is in `readKeyFromEntry`. We need to investigate the impact. In current benchmarks we can observe additional allocation when not using `unsafe`. I did some benchmarks for older versions as well

[code]
And unsafe time is constant across the versions while safe differs from 352ns ± 7% (1.9.7) to 855ns ± 2% (1.12.16) so I prefer to stay with

[2020-02-13 18:33] mxplusb commented on #97
I think this is the right methodology, constant performance is the right approach.

Do share your results here when you find it, I am curious.

[2020-02-18 04:05] mghifariy opened #205 "panic: runtime error: makeslice: len out of range"
**What is the issue you are having?**
`panic: runtime error: makeslice: len out of range`

[code]

**I have wrapped it for my library package to get the config value from .env file, here is my code:**
[code]

Is there something wrong with my code?

[2020-02-18 06:53] mghifariy commented on #205
nevermind, it's my fault. sorry to bothered you

[2020-02-18 06:53] #205 closed

[2020-02-18 07:11] cristaloleg commented on #205
👍

[2020-02-28 02:27] neal-zhu opened #206 "Empty blob in bytes_queue?"
Hi there,
I wonder where does this come from?
[code]
I understand empty blob is used to fill the unused space between head and tail when the queue is re-allocated. But where does 32 come from?
I change it to 0 and tests still work fine.

PS: this is not a bug, but I don't know how to erase the label

[2020-02-28 11:14] janisz commented on #206
It was added in https://github.com/allegro/bigcache/commit/9208dbcc1a2fec6a2e754d25d68f3a8155853e5c with a test for additional allocation. We migght do some changes so 32 is obsolete now. I do not remember why 32 was chosen :(

[2020-03-12 01:58] neal-zhu commented on #206
So maybe we can replace it with 0 and we can save some space?
BTW: have you ever considered storing length in varint way?

[2020-03-12 09:33] janisz commented on #206
I agree we should set it to 0 but first I'd like to do some archeology and figure out why we have 32 there.

I like the idea of varint format I think we need to benchmark it

[2020-03-13 02:19] Shitaibin opened #208 "Benchmark paniced with go1.14"
**What is the issue you are having?**

Benchmark paniced with go1.14 in centos7.

**What is BigCache doing that it shouldn't?**

Should not panic when allocating  memory.

**Minimal, Complete, and Verifiable Example**

[code]

**Environment:**
- Version (git sha or release): commit 75a65a80ae5a9c8c95250b72f8ade981e37ec09f
- OS (e.g. from `/etc/os-release` or winver.exe):
[code]
- go version: go ve

[2020-03-13 05:23] neal-zhu commented on #204
How about changing the interface to
[code]

[2020-03-13 07:37] cristaloleg commented on #204
@neal-zhu yep, this is definitely better. I'm thinking do we need to path context too?

[2020-03-13 07:50] neal-zhu commented on #204
Using an  io.Writer makes us free to save our data at anywhere(maybe local disk, or a remote node or main mermory).  So I think path context is unnecessary?

[2020-03-13 08:28] cristaloleg commented on #208
`fatal error: runtime: out of memory`

@janisz should we do something with it?

[2020-03-13 08:51] zxbfeng opened #209 "How to store the pointer ??"
The bigcache interface :Set（key string, value []byte） ,the value I want to store is a pointer ? so how to do it ?

[2020-03-13 09:01] cristaloleg commented on #209
BigCache is about storing serialised (`[]byte`) values.
Well, you can convert data under your pointer to the byte-slice via some serialisation (json, gob, protobuf, etc).

[2020-03-13 09:19] zxbfeng commented on #209
ok，thank you! Sorry, please change the Lable to 'question'.The platform automatically Labeled it 'Bug'!

[2020-03-13 17:44] mxplusb commented on #204
I'm totally open to modifications on it, when I wrote this it was to open discussion, so I'm not married to the final decision so much as it was to surface this is an interface we'd want to implement.

I do agree that we don't need a path context and the Reader/Writer implementation is more than enough for the initial use cases. Partially because then it allows for disk, streaming, or some other m

[2020-03-13 17:45] mxplusb commented on #209
@zxbfeng it's a GC optimization at the end of the day, our README covers this a bit. :)

[2020-03-13 17:48] mxplusb commented on #208
@Shitaibin can you give some stats about the testing box? If the runtime is out of memory I'm not inherently sure there's much we can do about that (doesn't mean we can't try). It could also be permissions, too. Does this happen on the same box, but with go1.13?

[2020-03-13 17:59] #209 closed

[2020-03-14 02:14] Shitaibin commented on #208
@mxplusb same error with go1.13 in this host. It passed all benchmark in my MacBook Pro with go1.13

[2020-03-14 02:54] Shitaibin commented on #208
@mxplusb @cristaloleg the cause is `-benchtime` flag. If `-benchtime` using the default value `1s`, all benchmark will passed. If `-benchtime > 1s`, it will panic. But I don't know why this flag leads to the panic. Does it because of not free memory after each iteration of benchmark?

Info from: https://golang.org/cmd/go/#hdr-Testing_flags
[code]

[2020-03-16 16:38] mxplusb commented on #208
IIRC the internal default time resolution is 1s, but that shouldn't really affect `-benchtime` too much. Does `go test -v -bench=.` not provide what you need?

[2020-03-17 02:26] Shitaibin commented on #208
[bigcache-benchmark-panic.txt](https://github.com/allegro/bigcache/files/4341175/bigcache-benchmark-panic.txt)

Comparing without `-v` flag, it just a few more *TEST PAUSE/ PASS* information. These information is useless.

My host has 8G memory, does it matter?

[2020-03-17 16:02] mxplusb commented on #208
8G is more than enough. Looking at what you've uploaded, it's throwing the same error, but in a different location:

[code]

Before it was the `bytesQueue` that was failing to allocate more memory, now it's an anonymous function that can't convert an integer to a string. I don't think this is an issue with bigcache, I think this is an issue with your testing machine, I can't replicate the issue an

[2020-03-17 16:10] janisz commented on #208
@Shitaibin  can you share your `ulimit` configuration?

[2020-03-18 01:25] Shitaibin commented on #208
The different location is because of using `-benchtime=2s`。

Using `-benchtime=4s`, it always show the same location. ulimit and details see the log file:
[centos-benchtime=4s-ulimit.txt](https://github.com/allegro/bigcache/files/4346474/centos-benchtime.4s-ulimit.txt)

I run the benchmark using the same parameters. It always output another panic error: `panic: runtime error: slice bounds out of r

[2020-03-18 02:22] Shitaibin commented on #208
I made a group tests using `-benchtime` and `-run=^$ .`. The result is :

- ✔️go test -benchmem -benchtime=1s -bench=BenchmarkWriteToUnlimitedCacheWithSmallInitSizeAnd1Shard  -run=^$ .
- ✔️go test -benchmem -benchtime=1s -bench=BenchmarkWriteToUnlimitedCacheWithSmallInitSizeAnd1Shard  .
- ✔️go test -benchmem -benchtime=4s -bench=BenchmarkWriteToUnlimitedCacheWithSmallInitSizeAnd1Shard -run=^$ .
-

[2020-03-18 03:16] Shitaibin commented on #208
Running benchmark will running benchmarks after running tests.

`-run=^$`:  not match to any tests. So the cause of panic may be related to tests.

[2020-03-18 09:20] janisz commented on #208
Myabe it's related to https://github.com/allegro/bigcache/issues/148

[2020-03-20 10:49] xwc1125 opened #212 "Iterator will be lock after OnRemoveWithReason"
**What is the issue you are having?**

Iterator will be lock after OnRemoveWithReason

**What is BigCache doing that it shouldn't?**

Iterator is not very well,and i want get all keys but it is can't,so i only use map ang bigcache.

**Minimal, Complete, and Verifiable Example**

**Environment:**
- Version (git sha or release):  v2.2.0
- OS (e.g. from `/etc/os-release` or winver.exe): macOs darwin

[2020-03-21 00:00] #206 closed

[2020-03-28 10:46] paritosh-desai opened #214 "Set failure even when there is enough memory left and size of entry is acceptable"
**What is the issue you are having?**
Set failing with `entry is bigger than max shard size` even when there is enough memory left and size of entry is acceptable

**What is BigCache doing that it shouldn't?**
[Error in question](https://github.com/allegro/bigcache/blob/master/shard.go#L147)
Reason [removeOldestEntry](https://github.com/allegro/bigcache/blob/master/shard.go#L145) returned an error

[2020-03-30 15:56] mxplusb commented on #214
@paritosh-desai can you please provide a code example and the versions of bigcache you are using? Thanks.

[2020-03-30 16:08] paritosh-desai commented on #214
`https://github.com/allegro/bigcache/releases/tag/v2.1.4`

And not entirely sure how I can give a code example here
We are just calling the Set command.

[2020-03-31 16:07] jdef opened #215 "feature request: GetOrSet (w/ sync.Map.LoadOrStore semantics)"
Use case:
(1) goroutine1 checks for key K in the cache; it doesn't exist, dispatches a request w/ "cache-miss" flag
(2) goroutine2 (dispatcher) sees "cache-miss", computes needed value, saves it in cache

Using Get for (1) and Set for (2) there's a potential race wherein (1) could check for the same key K multiple times before (2) runs. This is more interesting when computing needed values result

[2020-03-31 16:10] janisz commented on #215
I like this feature! @cristaloleg @mxplusb What do you think?

@jdef Would you like to provide a patch?

[2020-03-31 16:38] mxplusb commented on #215
I like the idea of this feature, but I would prefer to not use a goroutine and that it be a blocking operation. The reason I think it should be a blocking operation because goroutines start to add complexity and I think the initial implementation should be simple and then it can be iterated upon once it's a bit more stable.

Aside from the goroutines, I am a bit concerned about the performance imp

[2020-03-31 16:48] janisz commented on #215
Totally agree.

[2020-03-31 16:55] cristaloleg commented on #215
Yep, sounds good, thank you @jdef.

Looks like everyone is happy with `GetOrSet(key string, newValue []byte) (oldValue []byte, err error)` API, which will be blocking.

From what I remember, we've `getWithoutLock` and `setWithoutLock`, and basically `GetOrSet` will be 'concatenation' of this methods (in some way). Any other objections? Should we touch `GetWithInfo` in some way?

[2020-03-31 18:55] mxplusb commented on #215
I personally think this should be a locking and blocking operation because it could introduce a race condition otherwise, which is where my comments about performance stemmed from. That being said, if it can be proved there's no race condition with a soak test (i.e. 10-100k concurrent `GetOrSet` calls on the same few objects) as part of the unit and acceptance tests then I don't think a locking op

[2020-03-31 18:58] cristaloleg commented on #215
@mxplusb no-no, don't get me wrong, `GetOrSet` will take a lock, I have been talking about implementation based on two useful functions :)

[2020-03-31 19:07] mxplusb commented on #215
Ah no worries! I figure it'll be good to see who tackles it, how they approach it, and then go from there.

[2020-04-16 17:53] vivekkundariya opened #217 "major version v2 is not compatible with go module"
**What is the issue you are having?**
major version v2 is not compatible with go module

**What is BigCache doing that it shouldn't?**

**Minimal, Complete, and Verifiable Example**
```require github.com/allegro/bigcache: version "v2.2.0" invalid: module contains a go.mod file, so major version must be compatible: should be v0 or v1, not v2```

When asking a question about a problem caused by your

[2020-04-16 17:56] #217 closed

[2020-04-16 17:57] vivekkundariya commented on #217
sorry. For this found the solution
use ```github.com/allegro/bigcache/v2 v2.2.0```

[2020-05-06 21:24] mxplusb commented on #126
Closed in #219.

[2020-05-06 21:24] #126 closed

[2020-05-07 17:49] mxplusb opened #220 "Cut v2.2.1"
It has a minor API change from #216 that should be released formally for downstream folks. It's not a breaking change, so if it's not cut yet, that's okay, but better to do it now in my mind.

[2020-05-07 18:10] cristaloleg commented on #220
Done https://github.com/allegro/bigcache/releases/tag/v2.2.1

[2020-05-07 18:10] #220 closed

[2020-05-08 15:38] Fabianexe opened #221 "BytesQueue should use logger from config"
**What is the issue you are having?**

BytesQueue is not using the logger from config

**What is BigCache doing that it shouldn't?**

BytesQueue use the log package instead of the one from config

[2020-05-08 15:51] janisz commented on #221
@Fabianexe  Good point. Would you like to contribute a patch?

We need to change

https://github.com/allegro/bigcache/blob/37b9eb28693b36c88824afefa1dfe1a20826e74b/queue/bytes_queue.go#L60

This may require moving logger to separate package to prevent cycle dependency.
This will be a breaking change :(

@cristaloleg what do you think?

[2020-05-08 17:50] mxplusb commented on #221
If it's a breaking config, it might be good to hold off on this until v3. There's another v3 changed queued up already in #150.

[2020-05-09 08:27] cristaloleg commented on #221
Why not an interface?

[2020-05-09 09:20] janisz commented on #221
We already have this interface

https://github.com/allegro/bigcache/blob/master/logger.go#L9

That's why we need change config

[2020-05-09 10:08] Fabianexe commented on #221
The cycle dependency problem is prevented when a function is used.
Something like:
[code]

[2020-05-15 15:37] RaymondKYLiu commented on #171
Hi, I have the same problem in high memory usage.

As @gomonuk 's sample code, the size of CSV is about 7.7GB (MD5 32Byte*200M + # of 1-200M digits), and BigCache took 24GB memory

I also have experiment with v2.2.1 default configuration.
The table shows some different size of CSV key-value file are loaded into BigCache

 CSV size | BigCache memory usage
---------| -------------------------
| 149M

[2020-05-15 15:40] cristaloleg commented on #171
@RaymondKYLiu the simplest optimisation was to store values not as a text, but as bytes (`int` is just 4 bytes), but I haven't received an answer from OP then.

[2020-05-28 03:15] alexi opened #222 "Iterator readEntry crashes"
**What is the issue you are having?**
Sometimes when using EntryInfoIterator to read all entries from the cache, the readEntry() call crashes with the following stack trace:

[code]

We only recently updated from an old version of bigcache. This error seems to indicate the object being read is somehow larger than the maximum slice length, which should not be possible given we marshal the structs t

[2020-05-28 17:29] mxplusb commented on #222
Well that's exciting! Can you provide a quick reproduction of the bug so it's a bit easier to understand the full context? I think I understand where it's breaking, but a code example will help debug it a bit more.

[2020-05-29 04:01] alexi commented on #222
Hey @mxplusb - It's tricky to know how to reproduce it exactly as it is not something that occurs consistently so it seems that some unusual condition is met _sometimes_. Here is a mockup that represents roughly what we are doing:

[code]

[2020-06-01 19:17] alexi commented on #222
@mxplusb We have had another crash incident from a different method call:

[code]

[2020-06-02 03:06] alexi commented on #222
I think this may be related to #148

[2020-06-03 08:46] jassentang opened #226 "panic: runtime error: index out of range [7] with length 1"
Bigcache runs for about 1 day, crash！
How to solve this problem?
My bigcache configuration is:
[code]
I used the Set, Get, Iterator(), SetNext() functions of bigcache.
The log of crash is as follows:
[code]

[2020-06-03 10:15] cristaloleg commented on #226
(Oops. closed by missclick)

Can you show what you're passing to `Set` `Get` methods?

[2020-06-03 10:31] jassentang commented on #226
Hi @cristaloleg , this is my code for using Set and Get
[code]
Below is the code using Iterator and SetNext，Synchronize bigcache data to redis every 5s
[code]

[2020-06-03 14:58] WideLee commented on #222
This program will panic immediately with error `makeslice: len out of range`

[code]

[code]

In Iterator, it copy index in `SetNext()`, but the object of index may changed when reuse memory in bytesqueue and it push object in the head of queue.

Why NOT just copy hash value of keys during iterating and get newest index of bytequeue in `Value()`? for example
[code]

[code]

[2020-06-08 22:02] alexi commented on #222
@mxplusb any hope for a fix here?  See a new issue #226 with a similar problem.

[2020-06-17 11:18] leeransetton commented on #139
IMO this function
[code]
Should be something like:
[code]

wdyt @janisz @scottgerring ?

[2020-06-17 11:20] janisz commented on #139
LGTM

[2020-06-17 11:51] #139 closed

[2020-06-19 09:41] choleraehyq opened #229 "FeatureRequest: provide a way to reuse byte slice allocated in readEntry"
Currently we allocate a byte slice directly in encoding.go:readEntry. Can we provide a way to reuse slice here?

Here are my two possible solutions.
First one is provide a new function like
[code]
once users don't need value anymore, they can use reuseFunc(&value) to give the slice back to BigCache, internally we can maintain some sync.Pools to reuse different sized slices.

Second one is
[code]
u

[2020-06-19 09:45] cristaloleg commented on #229
Hi @choleraehyq thank you for the idea. I had this idea in mind, but completely left it. Currently I'm not 100% sure this will work with the underlying bytes queue (used internally), but if everything is fine, this feature is pretty useful (with a `sync.Pool` or any byte pool outside of BigCache).

I think the second API is more clear and is pretty popular, I think we can easily try to make it (un

[2020-06-22 04:58] choleraehyq opened #230 "FeatureRequest: provide PinnedSlice or something to avoid memmove"
For now, every time we get an entry from bigcache when cache hit, bigcache will allocate a new
byte slice and copy cache content into it internally. I propose to provide a way to let users to manage the lifetime of the entry they got, to avoid internal memory copy.
[code]
Internally, we can add a reference count in the header of wrapped entry, just like timestamps. Once we want to evict an entry,

[2020-06-22 05:58] cristaloleg commented on #230
How this is related to #229 ?

[2020-06-22 07:06] choleraehyq commented on #230
@cristaloleg It's related but not totally equal. If this proposal is implemented, we don't need #229 anymore.

[2020-06-22 19:51] mxplusb commented on #222
I don't actively maintain this project anymore (I was Allegro's first outside collaborator for many years), so I personally won't be providing a fix, I just review community contributions and help make it easier for others to provide a fix if they choose to. Sorry!

[2020-06-22 19:57] mxplusb commented on #229
I don't think this will work as intended with the internal `BytesQueue` because, and I could be wrong, we shard data across multiple queues to help spread things out more evenly, so passing in a slice to the queue would break things by default. If you added the slice to the end of the queue, that could work, but then the cache configurations wouldn't be correct.

Since you have to pass byte slices

[2020-06-22 20:00] mxplusb commented on #230
How would this work with evictions?

[2020-06-22 22:34] alexi commented on #222
Oh cool, we've been happy users for years but it does seem there are quite a few issues now related to this.  If there is any way to get more attention to it or if there is a better place to get an update from the contributor community that would certainly be appreciated.

[2020-06-23 02:33] choleraehyq commented on #230
@mxplusb Eviction will be a little bit complex. As I mentioned in the description, when we want to evict an entry, we need to check the reference count first. So we need to find a continuous memory long enough to fit in the new entry and all reference counts of old entries in this continuous memory need to be zero. Compare to the size of the whole cache, we can assume most of the cached entries wi

[2020-06-23 10:12] janisz commented on #222
@WideLee would you like to contribute a patch?

[2020-06-23 14:50] WideLee commented on #222
Sure ^_^ I want to change `copyKeys()` to copy key's hash instead of copy keys's index in BytesQueue, is anything problem?

[2020-06-23 18:51] mxplusb commented on #230
I can review a PR if you'd like. I don't inherently see a problem with the API, but I would defer to @cristaloleg for whether or they'd want to move forward with it.

[2020-06-25 09:40] RajdeepSardar opened #231 "[Feature Request] Expiration or TTL for each key individually"
Requesting for adding customized TTL for each key individually. If no TTL is specified, the key can have default TTL.

The interface can be
[code]

thanks!

[2020-06-25 09:57] janisz commented on #231
The problem with TTL per entry is how we keep entries internally. I think this could be easily achieved with decorator that will add TTL information to entry and during read it will check if entry expired. I prefer to not implement it in bigcache.

[2020-06-25 20:29] mxplusb commented on #231
I would agree with @janisz thoughts on this.

[2020-06-26 01:29] RajdeepSardar commented on #231
@janisz ,

do you suggest that I put an entry something like
`cache.Set("my-unique-key", []byte("value__TTL"))`
When we do a get, we parse the value, extract the `TTL` and validate whether `TTL` has expired or not.

[2020-06-26 08:59] janisz commented on #231
I was thinking about something like this

[code]

[2020-06-27 13:33] RajdeepSardar commented on #231
Thank you all for the idea and help. It works very well. closing this issue.

[2020-06-27 13:33] #231 closed

[2020-07-01 06:53] #161 closed

[2020-07-01 06:54] #125 closed

[2020-07-01 06:55] cristaloleg commented on #133
@janisz @mxplusb

[2020-07-01 06:55] cristaloleg commented on #148
@janisz what is the status of the issue?

[2020-07-01 06:57] cristaloleg commented on #171
Feel free to renew the discussion here.

[2020-07-01 06:57] #171 closed

[2020-07-01 06:58] cristaloleg commented on #194
@janisz @mxplusb 😉

[2020-07-01 12:02] janisz commented on #148
We still need to fix it

[2020-07-01 12:03] janisz commented on #133
I do not understand this issue.
@hiqbn Can you elaborate?

[2020-07-01 15:56] mxplusb commented on #148
I think #232 tentatively fixes this. I want to keep this open for a bit to see if we're still running across it.

@olivierperes @codyohlsen can you reproduce the issue on the latest commit?

[2020-07-01 15:57] mxplusb commented on #194
My expertise is in the server implementation, this is definitely a @janisz question, lol.

[2020-07-01 16:50] olivierperes commented on #148
I changed job and no longer have access to the code that used BigCache, so I won’t be able to test.

[2020-07-02 08:02] cristaloleg commented on #130
@janisz do you remember why `uint64` was added?

[2020-07-02 12:52] janisz commented on #130
It was added to be compatible with go stdlib hash https://golang.org/pkg/hash/#Hash64

[2020-07-10 07:30] #174 closed

[2020-07-28 05:28] neal-zhu commented on #204
locking entire cache during persistence might not be acceptable, can we use a child process just like redis?
[code]

[2020-07-28 06:26] work-chausat opened #234 "v2.2.3 panic"
panic: runtime error: index out of range [7] with length 7

goroutine 491 [running]:
encoding/binary.littleEndian.Uint64(...)
        /export/App/go/src/encoding/binary/binary.go:77
github.com/baudtime/baudtime/vendor/github.com/allegro/bigcache/v2.readTimestampFromEntry(...)
        /export/App/gopath/src/github.com/baudtime/baudtime/vendor/github.com/allegro/bigcache/v2/encoding.go:43
github.com

[2020-07-28 10:01] janisz commented on #234
duplicates https://github.com/allegro/bigcache/issues/226

[2020-07-28 18:52] mxplusb commented on #204
I think having both a full-lock and a no-lock option would be good, but I think a full-lock could also be achieved upstream, so I'm open to a first pass and seeing what the community says. :)

[2020-08-12 13:44] rupor-github commented on #229
If I am not mistaken something similar could be achieved with slightly different approach without changing underlying byte queue too much by providing "processing" closure to the API. This function runs under lock and it is up to the user if actual copy needs to be made and where to keep copied data. bigcache itself while working under lock does not ever need to copy data.

[code]
For testing purp

[2020-08-14 05:39] PaulLiang1 commented on #234
Could be reproduced with following
[code]

Output
[code]
go version go1.14.4 darwin/amd64
github.com/allegro/bigcache/v2 v2.2.3
[code]

[2020-08-14 12:14] janisz commented on #234
https://github.com/allegro/bigcache/issues/148#issuecomment-579364262

[2020-08-14 14:07] janisz commented on #229
@rupor-github I like this approach: it's backward compatible and easy to implement.

On the other hand it's really powerful and might cause a hard to debug problems if not used correctly (e.g. when Processor changes data)

[2020-08-18 02:41] PaulLiang1 commented on #226
Have the same issue on production

[code]

[2020-08-18 07:25] PaulLiang1 commented on #226
also it appears after big cache panics, the cache get method will hang without throwing errors.
we observed this after the panic above is thrown and recovered, then subsequent cache operation hanged and caused our application to timed out

[2020-08-19 08:30] LIUHUANUCAS opened #235 "bigcache panic for slice"
**What is the issue you are having?**
[code]

**What is BigCache doing that it shouldn't?**

**Minimal, Complete, and Verifiable Example**

When asking a question about a problem caused by your code, you will get much better answers if you provide code we can use to reproduce the problem. That code should be...

* ...Minimal – Use as little code as possible that still produces the same problem
* .

[2020-08-20 13:48] WKBae commented on #104
You should set LifeWindow to large enough value to prevent expiration.

`cacheShard.onEvict()` evicts the key immediately on next call to `cacheShard.set()` if LifeWindow is zero.

https://github.com/allegro/bigcache/blob/21e5ca5c3d539f94e8dc563350acd97c5400154f/shard.go#L246-L253

As this is fairly old issue the logic might have changed since then. This is a note for future issue-seeker like me :

[2020-08-31 16:15] mxplusb commented on #229
I do like the "processor" idea, but I am also concerned that it opens up too much surface area for issues when not used correctly. How will we surface an error from the user's processor implementation in a way which is fundamentally separate from a BigCache issue?

[2020-08-31 16:18] mxplusb commented on #235
@LIUHUANUCAS can you please upgrade to the latest version of BigCache and try to reproduce the error?

[2020-08-31 17:08] mxplusb opened #238 "3.0 milestone?"
There are two cards, #204 and #181, which reference the 3.0.0 milestone. There are a couple open issues with proposed API changes that we could also put into 3.0, that way we're making API changes on a major release.

Do we have an idea of what we want 3.0 to look like? Now there are enough open suggestions and cards, it might be good to finalize what we want 3.0 to look like so we can let those o

[2020-08-31 17:56] cristaloleg commented on #238
I don't yet. Probably we can coop on something and try to figure out, what can we make.

[2020-09-01 08:45] saiky76 opened #239 "Evictions happening all at once"
I have the following default configuration with an override just for HardMaxCacheSize 30 MB

    config := bigcache.DefaultConfig(10 * time.Minute)
    config.HardMaxCacheSize = 30
    return bigcache.NewBigCache(config)

Config{
   Shards:             1024,
   LifeWindow:         eviction,
   CleanWindow:        1 * time.Second,
   MaxEntriesInWindow: 1000 * 10 * 60,
   MaxEntrySize:       500,

[2020-09-02 12:08] rupor-github commented on #230
If implemented evictions rather than being a single pop operation could potentially take n hops - to find next node to evict. Today queue head always points to the latest node - this I guess would not be true any longer?

[2020-09-02 12:13] rupor-github commented on #229
@mxplusb - I share your concerns, however I do not see any _efficient_ way to give user control over lover level memory and have safety guarantees (with require explicit memory duplication). I my fork I implemented everything (including internal access) in terms of CacheEntry and defined set of Copy routines (replacing readKey, readEntry, etc) on it hoping to provide better documentation. However

[2020-09-03 08:10] LIUHUANUCAS opened #240 "no v2 queue"
**What is the issue you are having?**
- cann't compile

**What is BigCache doing that it shouldn't?**

**Minimal, Complete, and Verifiable Example**

When asking a question about a problem caused by your code, you will get much better answers if you provide code we can use to reproduce the problem. That code should be...

* ...Minimal – Use as little code as possible that still produces the same p

[2020-09-03 08:29] LIUHUANUCAS commented on #235
@mxplusb latest version can't compile ,see the new issue

[2020-09-04 16:29] pavanmachavolu commented on #239
I have a similar issue around HardMaxCacheSize.
I have set it to 8GB in my config but I can see its taking around 12GB constantly.
I would like to know if there is another config which might be overriding HardMaxCacheSize setting.

Thanks,
Pavan

[2020-09-04 16:35] mxplusb commented on #238
I think it would be good to list out some issues we think are good candidates for v3 as a starting point, interface changes, new interfaces, etc.

For sure I want these two:

* #204
* #181

Are there any others you can think of @cristaloleg?

[2020-09-04 16:38] mxplusb commented on #230
I think this might be a good candidate for v3, but I would want to see a reference implementation before saying yea or nay. I think the value of a `PinnedSlice` or something equivalent could be interesting, but I think it should also be clearly explained on when to use it vs when to not.

// ref: #238

[2020-09-04 16:41] mxplusb commented on #229
Let's get this into the discussion for v3, I think it's a viable design decision, but I want to save it for a major version as it's nuanced and I want to make sure it's very well documented with examples.

// ref: #238

[2020-09-04 16:43] mxplusb commented on #240
@LIUHUANUCAS can you please provide the git commit sha, go version, and OS you're using? It should compile as expected.

[2020-09-10 09:42] flisky opened #241 "support mocking clock in other projects"
I'm doing unit testing, and I cannot find a way to mock `Bigcache#clock`.

* the `Bigcache#clock` attribute is unexported
* the `newBigcache(...)` is unexported
* the methods in `clock interface` is unexported, and the [reflect#implements](https://github.com/golang/go/blob/dfdc3880b01d46d1d8125ab9eea0606b2fa5b819/src/reflect/type.go#L1501) rejects due to difference packages.

I proposal that we ex

[2020-09-10 21:46] mxplusb commented on #241
I'm fine with exporting the interface, but I would prefer to leave the rest unexported.

[2020-09-17 15:59] #241 closed

[2020-09-24 06:32] minitauros opened #243 "Question: How to pick the optimal number of shards?"
I see that the config allows for specifying the number of shards. In [your article](https://allegro.tech/2016/03/writing-fast-cache-service-in-go.html) about the idea behind bigcache, I see some information on how the shards are used. However, I am wondering if you can provide any advice on how to pick the right number of shards. Perhaps this could be included in the README?

[2020-09-24 07:10] janisz commented on #243
Great idea. We can add graph with number of shards and read/write times on axis for different ratio between reeds and writes.

[2020-09-30 14:36] janisz opened #244 "Create project logo and social media images"
When somebody links to this project on social media the default template is loaded. It will be great if we have logo and set of social media images that will improve project visibility.

https://docs.github.com/en/free-pro-team@latest/github/administering-a-repository/customizing-your-repositorys-social-media-preview

[2020-09-30 14:51] janisz commented on #243
I forgot we already have a benchmark that may be interesting for you.

[code]

Nevertheless, it might be good to add multidimensional benchmark to compare
* number of shards
* read/write ration
* entry size
* key length

[2020-09-30 15:58] minitauros commented on #243
Hadn't seen that one, thanks! Nice to see the difference in speed when writing is much bigger than when reading, depending on the number of shards.

[2020-10-05 18:56] mxplusb commented on #244
Oh I'm into this. I'm also not a graphic designer so I have no idea but maybe @cristaloleg will have some recommendations!

[2020-10-06 10:57] cristaloleg commented on #244
Not yet, feel free to improvise!

[2020-10-08 07:24] #160 closed

[2020-10-28 09:08] fpessolano commented on #226
I am experiencing the same issue on a deployed product.
Any solution or work around?

[2020-10-29 15:53] lb151 opened #250 "panic"
panic: runtime error: index out of range [7] with length 0

goroutine 39 [running]:
encoding/binary.littleEndian.Uint64(...)
        F:/go/src/encoding/binary/binary.go:77
github.com/allegro/bigcache/v2.readTimestampFromEntry(...)
        E:/go/mod/admin-kgh/pkg/mod/github.com/allegro/bigcache/v2@v2.2.4/encoding.go:43
github.com/allegro/bigcache/v2.(*cacheShard).onEvict(0xc0001fad80, 0xc0004996c2,

[2020-11-13 10:03] KaixuanYu opened #253 "when invoke allocateAdditionalMemory() , if the free space is 128 bytes, bug occurs"
The `allocateAdditionalMemory` method in `bigcache/queue/bytes_queue.go` file has the following code:
[code]
When head - tail == 128, the q.push() function actually only stores 127 bytes, one less byte.
A bug occurs when you call the Pop function。
See the following unit test for details：
[code]

[2020-11-13 10:14] janisz commented on #253
Refs #251

[2020-11-15 09:08] KaixuanYu commented on #253
If head-tail == 129, I think there is no way to deal with it. Because no length is 129 byte after being encoded with varint.

[2020-11-16 16:35] janisz commented on #253
So it looks like the only way to fix this is to revert #207 and not use Varint

[2020-11-16 17:06] awebb73 opened #254 "panic: runtime error: index out of range [7] with length 7"
**What is the issue you are having?**
<img width="640" alt="BigCache" src="https://user-images.githubusercontent.com/15351708/99284064-ab9dad00-27ea-11eb-962d-efa054ba81c8.PNG">

**What is BigCache doing that it shouldn't?**
when calling the readTimeStampFromEntry function a index out of range error occurs.

**Environment:**
- Version (git sha or release): 2.2.4
- OS (e.g. from `/etc/os-release` o

[2020-11-17 06:03] u5surf commented on #254
it seems to be same issues... https://github.com/allegro/bigcache/issues/250

[2020-11-17 17:25] awebb73 commented on #254
I incorrectly reported that version 2.2.4 was used when this error was received.

I was using version 2.2.5 when this error occurred.

[2020-11-19 04:09] dwisiswant0 opened #256 "*bigcache.BigCache.Append undefined"
**What is the issue you are having?**

`cache.Append undefined (type *bigcache.BigCache has no field or method Append)`, but `Set` method works properly instead.

**What is BigCache doing that it shouldn't?**

N/A

**Minimal, Complete, and Verifiable Example**

[code]

**Environment:**
- Version (git sha or release): v1.2.1
- OS (e.g. from `/etc/os-release` or winver.exe): ubuntu16.04
- go version

[2020-11-19 11:08] cristaloleg commented on #256
Looks like you need to update your Bigcache version to v2

[2020-11-19 19:05] #256 closed

[2020-11-20 14:49] awebb73 commented on #254
<img width="648" alt="panic error" src="https://user-images.githubusercontent.com/15351708/99813369-70f28800-2afc-11eb-812b-dc1cf486db31.PNG">

Received the error again last night. The application ran for 72 hours before the error.

[2020-11-26 06:43] turfaa opened #257 "panic: runtime error: slice bounds out of range [16:0]"
**What is the issue you are having?**
panic
[code]

**What is BigCache doing that it shouldn't?**
Panic

**Minimal, Complete, and Verifiable Example**

My service do a high number of get operations.

This is my config:
[code]

**Environment:**
- Version (git sha or release): v2.2.4
- OS (e.g. from `/etc/os-release` or winver.exe): Ubuntu 16.04.6 LTS
- go version: 1.15

[2020-11-26 07:54] turfaa opened #258 "panic: runtime error: makeslice: len out of range"
**What is the issue you are having?**
Panic when evicting the cache.
[code]

**What is BigCache doing that it shouldn't?**
Panic

**Minimal, Complete, and Verifiable Example**

My service do a high number of get operations.

This is my config:
[code]

**Environment:**
- Version (git sha or release): v3.0.0
- OS (e.g. from `/etc/os-release` or winver.exe): Ubuntu 16.04.6 LTS
- go version: 1.15

[2020-12-02 06:10] AshanKooragoda opened #259 "Is Cleanup process blocking Working Flow"
When we set cleanup process is it blocking working flow, When we use this in heavy load systems it could occur issues.  ###

[2020-12-22 12:51] a2dict commented on #257
the Key is too long.

[code]

[2020-12-22 13:01] a2dict commented on #257
the key is too long.

example:

[code]

[2021-01-17 00:55] uditsamani30 opened #261 "What is the use of headerBuffer in bytes_queue ?"
I have been going through the code base and have a quick question around the usage of `headerBuffer` in bytest_queue.go !

On finding references for `headerBuffer` I find that a value is never read from the header buffer. Is there any particular reason for that ? In short what is the use of headerBuffer ?

[2021-01-17 01:11] #261 closed

[2021-01-17 20:09] uditsamani30 opened #262 "Issue with BytesQueue."
I was going through the `bytes_queue.go` and have found some inconsistencies with the result. Below is a way to reproduce this issue :

There is test in `bytes_queue_test.go` :

[code]

Now lets change this test and bit and add the following line :

[code]

![Screen Shot 2021-01-17 at 12 04 20 PM](https://user-images.githubusercontent.com/77553735/104854553-230bbd80-58bc-11eb-8a87-15e09754212a.png

[2021-01-17 20:34] uditsamani30 commented on #262
We just cannot directly copy the entire array we will have to rearrange accordingly.

[2021-01-28 11:44] ppai-plivo opened #263 "queue: Push() panics in v3.0.0"
**What is the issue you are having?**

[code]

**What is BigCache doing that it shouldn't?**

It's panicking. I haven't looked deeper but the the most likely cause is the integer underflow here which is hit when `capacity` passed to `NewBytesQueue` is `0`:
https://github.com/allegro/bigcache/blob/55d48f4e069fd81755c7be002903253d961abe44/queue/bytes_queue.go#L251

**This is a regression from `2.2.5

[2021-02-24 06:14] prasanjitm opened #267 "Cache keys are evicted before the TTL"
bigcache.NewBigCache(bigcache.Config{
		Shards:             128,
		LifeWindow:         30 * time.Minute,
		CleanWindow:        20 * time.Minute,
		MaxEntriesInWindow: 200 * 30 * 60,
		MaxEntrySize:       100,
		Verbose:            true,
		Hasher:             nil,
		HardMaxCacheSize:   500,
		OnRemove:           nil,
		OnRemoveWithReason: func(key string, entry []byte, reason bigcache.RemoveReason)

[2021-02-24 08:25] prasanjitm commented on #239
I am as facing a similar [issue](https://github.com/allegro/bigcache/issues/267). Is this issue resolved?

[2021-02-24 08:33] prasanjitm commented on #267
@janisz can you please help here

[2021-02-24 10:56] cristaloleg commented on #267
Can you show what and how you're inserting key-values into the cache?

[2021-02-24 17:22] prasanjitm commented on #267
I am storing data using Set(key string, entry []byte) function provided by bigcache
Two types of data are stored,

Type - 1 =>
length of the cache key = 39 characters,
length of entry 87 bytes,
rpm for this type of cache save is 30000/minute
Here cache key is (cachePrefix-{{variable}}), e.g abc-1, abc-2, abc-3 where "abc-" is the cachePrefix

Type - 2 =>
length of the cache key = 15 characters,
le

[2021-02-26 04:03] prasanjitm commented on #267
@cristaloleg can you please help.

[2021-02-26 09:49] cristaloleg commented on #267
Isn't problem is related that you're replacing your keys?

[2021-02-26 10:49] prasanjitm commented on #267
Yes, maybe the keys are replaced by bigcache, but the reason should be in that case 1/2, not 0, as the TT has not reached. Where as the reason which is logged is 0.

I am using,
Bigcache version - v1.2.1
Golang version - golang:1.13

[2021-03-01 06:13] AshanKooragoda opened #269 "Can we set eviction policies when max cache limits reached."
**What is the issue you are having?**

When the cache is full and no dead entries marked how lib evict data? is it based on TTL?
If entry marked as dead how it affect?
Can we set eviction policies like max-usage, max-size, min-size

**What is BigCache doing that it shouldn't?**
BigCache cache should support those features since then users have much control over the library.

**Minimal, Complete, a

[2021-03-01 06:43] #269 closed

[2021-03-01 07:39] AshanKooragoda opened #270 "Eviction Policies and Clean up Logic When Max Cache limit Reached."
When the cache is full and no dead entries marked how lib evict data? is it based on TTL?
Can we set eviction policies like max-usage, max-size, min-size

Version:v8.4.11
OS: Ubuntu 18.04
go version: 1.15.7

[2021-03-01 15:54] janisz commented on #267
Could you prepare [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example)

[2021-03-12 06:36] hiqsociety opened #272 "Any possibilities to add a disk backed version?"
Any possibilities to add a disk backed version?

like... save data to disk etc

[2021-03-17 06:53] prasanjitm commented on #267
observed that, when concurrent requests are made to update the a single cache key using Set(key string, entry []byte), where  multiple times the key is being set in memory, in that case the key is evicted multiple times after the TTL.
Actually key should be evicted once.
Is this a known issue? r u working on this?

[2021-03-17 09:28] janisz commented on #272
Duplicates: https://github.com/allegro/bigcache/issues/204

[2021-03-18 00:22] hiqsociety opened #273 "What happens when I set CleanWindow = 0 ? No cache will be cleared but will LifeWindow entries..."
What happens when I set CleanWindow = 0 ? No cache will be cleared but will LifeWindow entries be able to Get?

Is CleanWindow a bit redundant? it's ok to leave expired entries in LifeWindow right? It just sits there and will not be gotten out.

[2021-03-18 00:49] hiqsociety opened #274 "OnRemove is it a goroutine function?"
OnRemove callback is it a goroutine function? any examples compared with withreason?

how do i batch onremove calls for all expired entries of the same time?

[2021-03-18 00:53] hiqsociety commented on #272
it's still not implemented?

[2021-03-22 18:43] janisz commented on #267
It's not a known issue. Could you prepare a code that reproduces this bug?

Do you mean same key here?

Do you mean before here?

[2021-03-22 18:54] janisz commented on #273
You are partially correct.
Setting clean window to 0 will disable periodical house keeping – removing expired entries. Theses entries could be removed when space is needed to insert new value.

It might look redundant but there was a valid use case for it https://github.com/allegro/bigcache/issues/31#issuecomment-678782411

[2021-03-22 18:58] janisz commented on #274
1. Take a look at test https://github.com/allegro/bigcache/blob/0afcdc40f195c6dcd504eaaccb91ce7e5657bb88/bigcache_test.go#L417-L448
2. Could you elaborate?

[2021-03-24 11:16] BoBoGithub opened #275 "BigCache中Hash冲突的问题"
Hi, 我发现BigCache中未解决Hash冲突的问题，请问有计划补充这部分的实现嘛?

设置缓存代码块：
![image](https://user-images.githubusercontent.com/4011103/112301902-66781300-8cd5-11eb-80af-e8198fe3e44e.png)

获取缓存代码块：
![image](https://user-images.githubusercontent.com/4011103/112302006-84457800-8cd5-11eb-8e3e-1b2135ae50f4.png)

[2021-03-24 14:37] janisz commented on #275
I think we will not solve this issue. This is just a cache with no guarantees about data to be available. Collision may happen so we inform user about this.

How would you like to solve it?

[2021-03-25 03:35] BoBoGithub commented on #275
嗯嗯，知道了．

若要解决的话，我想可以改造cacheShard.HashMap 支持同一个hash对应多个BytesQueue的Index．

[2021-03-26 09:14] janisz commented on #275
So instead of `map[int]int` use `map[int][]int`. Original design was optimized for speed. Map of `int`s is not scanned by GC. If we have a slice there then GC will scan it and performance will be degraded.

[2021-03-26 10:32] BoBoGithub commented on #275
`map[int][]int`  这样确实是会影响到GC遍历时的性能，使用FNV生成的Hash 冲突出现机率很小，考虑到高性能确实不值得兼容Hash冲突．

鱼和熊掌不可得兼也．

[2021-04-12 03:31] EternalXiao opened #276 "Feature request: get value with insertion time"
The following methods provided to retrieve the value does not return the insertion time
[code]
Could you provide another method like `GetWithTime(key string) ([]byte, int64, error)`?

[2021-04-26 10:06] chgz opened #277 "v3 version depends on v2"
**What is the issue you are having?**

https://github.com/allegro/bigcache/blob/master/examples_test.go#L8

v3 depends on v2 ？

**What is BigCache doing that it shouldn't?**

after go mod tidy, will downloading v2 and v3.

[2021-04-26 10:54] cristaloleg commented on #277
Good catch, upcoming fix https://github.com/allegro/bigcache/pull/278

[2021-05-07 05:16] #277 closed

[2021-05-07 09:30] changmu commented on #275
本来说中文老外都很难懂的，怕是得用翻译软件，你还搞个文言文，xswl

[2021-05-07 11:23] BoBoGithub commented on #275
从老外的回复看，他是看懂了

[2021-05-07 11:23] #275 closed

[2021-05-07 11:37] janisz commented on #276
How about extending `Response` with it?

[2021-05-19 05:13] Amruta54 opened #279 "BigCache crashes with following error"
**What is the issue you are having?**
panic: runtime error: slice bounds out of range [:203144864] with capacity 7808000

goroutine 89 [running]:
github.com/allegro/bigcache/v3/queue.(*BytesQueue).peek(0xc001552128, 0x12f99c, 0xc30c8f5ffe, 0x2d3, 0x14e402, 0x2, 0x0, 0x0)
        /go-thirdparty/thirdparty/pkg/mod/github.com/allegro/bigcache/v3@v3.0.0/queue/bytes_queue.go:242 +0x185
github.com/alleg

[2021-05-19 05:55] cristaloleg commented on #279
Bigcache version?

[2021-05-20 06:41] Amruta54 commented on #279
"github.com/allegro/bigcache/v3"

[2021-05-29 10:12] codexie commented on #254
It also occured to my project every few hours , how can I fix this problem?

[2021-05-29 10:16] xpp1021 commented on #254
I also meet this error ,How can I fix this problem?

[2021-05-29 10:23] xpp1021 commented on #226
@jassentang Is it resolved ? I also meet this problem

[2021-06-01 12:44] janisz commented on #226
Unfortunately there is not known way to reproduce it so it's impossible to fix :(

[2021-06-02 07:49] fpessolano commented on #226
I re-thought why i was using BigCache and managed to remove it from my design. Only solution I found so far.

[2021-06-11 11:26] clovedin commented on #254
I also meet this error too ,How can I fix this problem?

[2021-06-24 12:39] tuptaker opened #281 "Check if cache empty?"
Is there are way to detect when a bigcache instance is completely empty? I have a use case where I store about a dozen cache items which are read in from a file bundled with my application. After the invalidation interval elapses, I have an OnRemove() handler set up to listen for the evictions. I want to rehydrate the cache from the original file I mentioned earlier, but I don't want to do that un

[2021-06-24 13:57] janisz commented on #281
How about periodically checking  `Len()`
https://github.com/allegro/bigcache/blob/ce711ba7ece571def89f960ddf39103af2e0bdae/bigcache.go#L160-L167

[2021-06-29 14:08] tuptaker commented on #281
Thank you for the suggestions @janisz!

[2021-07-01 08:51] hiqsociety opened #282 "possible to alleviate the GC issue with this for reference? https://github.com/VictoriaMetrics/fastcache"
https://github.com/VictoriaMetrics/fastcache

GC is unbearable. possible to use ideas from the above repo?

[2021-07-01 09:02] cristaloleg commented on #282
Hi, do you have any particular problem with a GC to share here?

[2021-07-22 10:07] lesterpang opened #283 "panic: runtime error: index out of range [7] with length 0"
**What is the issue you are having?**

Run for a few seconds and panic

`panic: runtime error: index out of range [7] with length 0`

[code]

**Minimal, Complete, and Verifiable Example**

[code]

**Environment:**
- Version (git sha or release): v2.2.5
- OS: darwin/amd64
- go version: go1.16.6

[2021-07-22 10:11] lesterpang commented on #283
Other panic in same verifiable  example

[code]

[2021-07-22 10:31] lesterpang commented on #283
Panic with v3.0.0

[code]

[2021-07-26 08:30] mostafa-asg opened #284 "rationale behind `minimumHeaderSize` in `bytes_queue` package"
To understand the issue take a look at this test:
[code]
Clearly, the buffer has enough space to add `[]byte("o")`. Specifically, `canInsertBeforeHead` method should return true, but `minimumHeaderSize` prevents this to happen.
I am curious to know about the rationale behind  `minimumHeaderSize` because as you saw it prevents testing/using this package intuitively.

[2021-07-26 13:16] janisz commented on #284
We need to to keep a placeholder to keep indexes unchanged when memory grows.
https://github.com/allegro/bigcache/blob/16762172f2ee433caf5bae1904cdbc11dcebffeb/queue/bytes_queue.go#L10-L11

https://github.com/allegro/bigcache/commit/15aeb0b36a77292ff6c40ee0c4b04e70c236dd92

I think we need a debug mode where we can easily visualize queue to help understanding how it works.

[2021-07-26 14:34] mostafa-asg commented on #284
Thanks for prompt response.
I didn't understand your point. My point is, I created a fixed queue, without the capability to grow:
* `Push([]byte("hello")` occupies `6` bytes total: `1` byte size + `5` bytes data
* `Push([]byte("m")` occupies `2` bytes total
* Pop() --> **free** 6 bytes
* `Push([]byte("o")` should be pushed to queue.

I mean why the logic of the KV store should be seen in this pack

[2021-07-26 18:36] janisz commented on #284
Oh, I see. I agree with you. It should be independent. Unfortunately, I think we never thought of using queue outside of big cache so it's coupled :(

[2021-07-27 04:03] elvin-zheng commented on #275
what is "老外"?

[2021-07-27 16:50] elvin-zheng opened #285 "run bench happen panic"
**What is the issue you are having?**

run bench happen panic
[code]

**Minimal, Complete, and Verifiable Example**
[code]

[2021-07-29 13:07] janisz commented on #285
Oh, that's good I was looking for a way to reproduce https://github.com/allegro/bigcache/issues/283
Can you share at which point it happened? How many iterations were fine until it crash. This will help us fix this bug.

[2021-08-06 07:02] lesterpang commented on #283
@janisz new panic simple demo

[code]

[2021-08-09 11:47] stubbornTanzhe opened #286 "memory increase problem"
version: v3.0.0
go version: 1.16

case:
1. config:
[code]
2. created a timer with time.Hour，every Hour will reload 20w+ mysql row item and set them to bigcache,found that once set bigcache (the key almost the same),the memory usage will increase
3. use a pprof to find why memory increase and got that if the old (k,v) not evicted, there will alloc new memory for the (k,v) if you set it again
4. so

[2021-08-09 11:49] stubbornTanzhe commented on #286
i think when t+t/10 the old item is evicted,so the next clean window will delete it.
it delete but the memory not all released

[2021-09-03 08:06] panmari commented on #253
I think I'm also seeing this problem for my use case. Are there any blockers that prevent merging @Fabianexe 's change? The test included verifies that this fixes the problem.

[2021-09-07 12:02] blackbeans commented on #283
i read bigcache source code and  found the panic  reason.

[code]

 if  the exist hashed key has been earsed  hashid , but the  new key  entry size maybe  bigger than  max shard size .
So ,the current  logic  uses  a loop to  remove oldest entries,but  when hashiid is zero ,the loop breaks.
But the hashmap still holds  hashed key index.
Next set the same key agains , the  s.entries  get a unexpect

[2021-09-07 13:02] janisz commented on #283
@blackbeans that's awesome. How I could miss that.

[2021-09-08 07:44] janisz commented on #148
@codyohl @cristaloleg  can we close it. It was fixed by #236

[2021-09-08 07:45] janisz commented on #283
This PR fixes:

- #283
- #254
- #250
- #234
- #226
- #222

[2021-09-14 22:02] codyohl commented on #148
@janisz Yes, i don't observe this anymore. I'm all good with closing!

[2021-09-14 22:02] #148 closed

[2021-09-16 18:24] laxatives opened #289 "SystemClock Mocking is not assignable to type bigcache.clock"
Following this PR: https://github.com/allegro/bigcache/pull/242

I'm trying to assign a mock system clock using the following:

[code]

This fails with `panic: reflect.Set: value of type experimentmetadata.mockedClock is not assignable to type bigcache.clock [recovered]`

[2021-09-16 18:25] laxatives commented on #289
Should be `reflect.NewAt(rf.Type(), unsafe.Pointer(rf.UnsafeAddr())).Elem().Set(reflect.ValueOf(&clock))`

[2021-09-16 18:25] #289 closed

[2021-09-23 11:37] blackbeans opened #290 "panic: runtime error: index out of range [7] with length 0"
[code]

i found this panic caused by these codes :

bytes_queue.go#allocateAdditionalMemory

[code]
here are one issue:

1.  q.push(make([]byte, emptyBlobLen), emptyBlobLen)  value is not   wrappedEntry bytes ,this cause , cleanUp  method  and pop head to recycle these spaces , and decodes ,these causes  decoding panic. emptyBlobLen must be larger than minimumHeaderSize

[2021-09-23 12:03] cristaloleg commented on #290
https://github.com/allegro/bigcache/issues/283 ?

[2021-09-23 12:19] blackbeans commented on #290
it's another  panic  .

[2021-09-23 12:36] blackbeans commented on #290
i want chat with ur telegram .

[2021-09-23 13:14] blackbeans commented on #290
it's another panic .i want chat with ur telegram .

[2021-10-25 17:42] erickertz opened #291 "What is the recommended way to have cache never expire?"
Sorry if this is addressed elsewhere, I couldn't seem to find a definite answer. LifeWindow 0 and CleanWindow 0 perhaps? Thanks!

[2021-10-26 04:49] AlexBlack772 opened #292 "Inadequate memory consumption"
**What is the issue you are having?**
Despite the limitation of the maximum cache size of 64 megabytes, the program consumes considerably more memory

I'se set HardMaxCacheSize to 64Mb (see a code below), but after programm run vmRSS was much more than 64Mb. In a real setup I've seen cache size more than 5Gb and programm was killed by OOM killer

keys count = 1
vmRSS: Pre run 19 890 176
vmRSS: Pos

[2021-10-27 22:43] janisz opened #293 "Remove `maxShardSize` from BigCache"
It looks like `BigCache.maxShardSize` is only set but never queried so it can be safely deleted.

https://github.com/allegro/bigcache/blob/c2b72fe951a1ff765a0e58184738476f2fd71bb1/bigcache.go#L22
https://github.com/allegro/bigcache/blob/c2b72fe951a1ff765a0e58184738476f2fd71bb1/bigcache.go#L66

[2021-11-02 10:42] Victor-Cooper opened #295 "Misleading name for config"
`// initialShardSize computes initial shard size
func (c Config) initialShardSize() int {
	return max(c.MaxEntriesInWindow/c.Shards, minimumEntriesInShard)
}

// maximumShardSize computes maximum shard size
func (c Config) maximumShardSize() int {
	maxShardSize := 0

	if c.HardMaxCacheSize > 0 {
		maxShardSize = convertMBToBytes(c.HardMaxCacheSize) / c.Shards
	}

	return maxShardSize
}`

initialSh

[2021-11-02 15:25] #293 closed

[2021-11-04 18:55] janisz commented on #295
Would you like to create a patch for that?

[2021-11-05 11:24] kurefm commented on #283
In theory, this issues is fix in v3.0.1, but I still met

[code]

[2021-11-07 07:02] Hank00AAA opened #296 "All bigcache.{Set\Get} is blocked while acquiring RWLock."
**What is the issue you are having?**
I find my program have goroutine leak, due to bigcache's shard RWLock.

**What is BigCache doing that it shouldn't?**
All BigCache operation(Get/Set) is blocked, and never recover.

**Minimal, Complete, and Verifiable Example**
github.com/allegro/bigcache/v3 v3.0.0

My source code is not able to show in github due to my company strategy. But I can support the

[2021-11-08 06:44] #296 closed

[2021-11-10 12:11] yangtaoran opened #297 "set value happen to panic"
**What is the issue you are having?**

021-11-04 14:01:50.079	ERROR	logs/recovery.go:75	[RECOVERY] 2021/11/04 - 14:01:50 panic recovered:
runtime error: index out of range [7] with length 5
/usr/local/go/src/runtime/panic.go:969 (0x436495)
	gopanic: ???
/usr/local/go/src/runtime/panic.go:88 (0x4342b2)
	goPanicIndex:
/usr/local/go/src/encoding/binary/binary.go:77 (0xbba46f)
	littleEndian.Uint64: re

[2021-11-12 23:16] Hank00AAA commented on #292
@janisz  https://github.com/allegro/bigcache/pull/298 I modified the documentation. Could you review the change?

[2021-11-15 12:28] contestjia opened #300 "In some case，the bytes_queue may lead panic"
**What is the issue you are having?**
[code]

**Minimal, Complete, and Verifiable Example**

[code]

**Environment:**
- Version (git sha or release):v3.0.1
- OS (e.g. from `/etc/os-release` or winver.exe): windows/amd64
- go version: go1.17

[2021-11-15 12:33] contestjia commented on #300
I read the source，the code in `allocateAdditionalMemory` may lead panic
[code]
if **q.head - q.tail=128**, the headerEntrySize equals to 2, but the emptyBlobLen=126,and in q.push the headerEntrySize=1,not equal to 2

[2021-11-15 14:37] contestjia commented on #300
And I use BigCache reproduce the panic:
[code]

[code]

[2021-11-17 17:46] MCeDo commented on #291
i also want to have cache never expire. in my case, i will refresh some keys regularly, but it would run out of memory, it due to the old value of these keys are not be deleted. i check the del/set func in BigCache, and it just remove the index. the old  values only delete after expiration, does BigCache will support other delete strategy in the future?(like delete directly, no need to wait after

[2021-11-26 02:20] q337881648 commented on #296
![image](https://user-images.githubusercontent.com/22782870/143516721-51fda340-6a15-42ae-889f-05d9beae550d.png)
I also have this problem.
How did you solve it?

[2021-11-26 11:01] janisz commented on #296
@q337881648 Can you share minimal reproducible example to replicate this?

[2021-12-28 03:59] Zrealshadow opened #303 "Question About ByteQueue allocateExtraMemory"
In method `allocateAdditionalMemory`, when `tail < head `  we have to reset the `head` and `tail` and redistribute the entries. Like this code part.

[code]

However, it seems directly copy whole entries without adjusting the order of this entries. This pattern dosen't obey the FIFO Rules. When poping entry from bytequeue, it will lead new entries are poped first but old entries are still left.

A

[2022-01-03 19:41] alok87 opened #304 "[Question] Why does evicting during the write helps?"
"Eviction is performed during writes to the cache since the lock is already acquired."

Does not it slows down your writes? Did you benchmark this?

[2022-01-04 15:47] janisz commented on #304
We decided to evict on write because in cache  reads happen much more often then writes.

Benchmarks are here https://github.com/allegro/bigcache-bench

[2022-01-04 15:50] alok87 commented on #304
Why not run a separate routine to evict instead(may be a channel communication from the write function to it). Why do it in the write function in a synchronus way?

[2022-01-04 16:40] janisz commented on #304
We have a goroutine. Unfortunately it's not set to be controlled externally (which I think is a good idea) but with a local ticker.

https://github.com/allegro/bigcache/blob/77bbae442c22ec7ba79f77cabd56d0e5a9366109/bigcache.go#L91-L104

I think you are referring to this code
https://github.com/allegro/bigcache/blob/77bbae442c22ec7ba79f77cabd56d0e5a9366109/shard.go#L133-L135
this may be the leftove

[2022-01-04 17:23] #303 closed

[2022-01-04 18:10] alok87 commented on #304
thanks

[2022-01-04 18:10] #304 closed

[2022-01-12 09:29] 784909593 commented on #283
@janis
I had the same problem with the same version, but it's hard to find a stable reproducible case. This problem will cause bigcache deadlock, and the hidden danger is very large.

[2022-01-12 09:32] jesse-engineer opened #305 "The problem still exists in version 3.0.1，panic: runtime error: index out of range [7] with length 0"
@janisz
I had the same problem with the same version, but it's hard to find a stable reproducible case. This problem will cause bigcache deadlock, and the hidden danger is very large.

_Originally posted by @784909593 in https://github.com/allegro/bigcache/issues/283#issuecomment-1010832915_

[2022-01-18 10:57] janisz commented on #305
Thanks for reporting this. Indeed without minimal reproducible example it's super hard to prepare a fix and ensure it was really fixed.

[2022-02-10 01:47] JamesSunXX commented on #305
[code]

go version 1.15, same panic stack

[2022-02-10 05:53] JamesSunXX commented on #305
[code]
another panic stack

[2022-02-11 08:14] dazhoudotnet commented on #305
1.7.6 same prob.

goroutine 224 [running]:
encoding/binary.littleEndian.Uint64(...)
        c:/go/src/encoding/binary/binary.go:77
github.com/allegro/bigcache/v3.readTimestampFromEntry(...)
        d:/mygo/pkg/mod/github.com/allegro/bigcache/v3@v3.0.1/encoding.go:58
github.com/allegro/bigcache/v3.(*cacheShard).onEvict(0xc000413208, {0xc071ba0c45, 0xc00042bf6c, 0xc000507a00}, 0xc00042bfb8, 0xc00040

[2022-02-11 10:16] temuera opened #307 "minimal reproducible example for "index out of range [7] with length 0""
[code]

[code]

Win 10 ,Go 1.17.6, BigCache v3.01
100% reproducible.

[2022-02-13 09:47] JamesSunXX opened #308 "bytesqueue peak panic"
found another panic
[code]

**Environment:**
- Version (git sha or release): v3.0.1
- OS (e.g. from `/etc/os-release` or winver.exe):
- go version: 1.15

[2022-02-14 08:23] Fabianexe commented on #305
I am not sure, but it looks like https://github.com/allegro/bigcache/pull/266 is missing in 3.0.1
This could be a reason for the panic

[2022-02-14 10:50] janisz commented on #305
@JamesSunXX @784909593  Could you try https://github.com/allegro/bigcache/releases/tag/v3.0.2

[2022-02-14 10:52] janisz commented on #308
@JamesSunXX Can you try v3.0.2

[2022-02-14 11:20] janisz commented on #307
@temuera could you try v3.0.2

[2022-02-14 12:28] janisz commented on #307
It looks like it's fixed in v3.0.2

[2022-02-14 13:15] 784909593 commented on #305
After reading this issue https://github.com/allegro/bigcache/issues/300, I temporarily used the master 77bbe version, and this problem did not happen again

[2022-03-06 16:45] YYZ-coder commented on #290
so, It fixed?

[2022-03-07 10:50] janisz commented on #290
I believe it's fixed with v3.0.2

[2022-03-16 06:25] Kyan820815 opened #309 "Delete never release memory"
**What is the issue you are having?**
We add data into bigcache, and using delete, but seems like it only set byte array with 0.

For example, in one big cache there are 111111111111 of a byte queue, and we use delete, it only make it to 111000111111
so next time we insert new data, it still add to the back of byte queue, rather than use those three bytes with 0.

Is there anyway to delete byte co

[2022-03-23 11:18] Kyan820815 opened #310 "Support custom timestamp for Set"
I just found when we push to queue, the timestamp is the time we insert into queue,
can we have an option that we can determine the inserted time?
like Set(key string, entry []byte, ts uint64) ?

[2022-03-23 11:27] janisz commented on #310
You can extend your entry with timestamp. Why do you need to manipulate timestamp used by bigcache?

[2022-03-23 11:34] Kyan820815 commented on #310
Cuz we want to insert data, these data originally have its start time, if we use default time as inserting time, it will have a delay.

For example, one data start time is 10:00, expire time 2min, then we insert it at 10:01, using big cache scanning delete feature, it will be deleted at 10:03. however, we want to delete at 10:02. So if we can specify start time at 10:00, we can delete at right tim

[2022-03-24 03:18] Kyan820815 commented on #310
hi, any update?

[2022-03-24 14:47] inliquid opened #311 "Memory usage grows indefinitely when setting same key within eviction interval"
This is effectively a follow-up on #109 which is closed for some reason.

We have experienced a bug in production service when hard limits were removed and OOM killed the app. The app has to hold some data in cache which is then repeatedly re-read from DB and re-set in a fixed interval of ~30 min. Keys for saving data in memory are always the same. What we observed is that after few hours memory c

[2022-03-25 09:29] s1040735149 opened #312 "shard onEvict get an empty oldestEntry.so panic and not unLock"
**What is the issue you are having?**

shard onEvict get an empty oldestEntry.so panic and not unLock

**What is BigCache doing that it shouldn't?**
fix panic

**Minimal, Complete, and Verifiable Example**

runtime error: index out of range [7] with length 0
goroutine 60116345 [running]:
runtime/debug.Stack(0x2153be0, 0x22c8700, 0xc1ec77bf40)
	/usr/local/go/src/runtime/debug/stack.go:24 +0x9f
git.

[2022-03-25 16:44] janisz commented on #312
@s1040735149 could you try [v3.0.2](https://github.com/allegro/bigcache/releases/tag/v3.0.2)

[2022-04-18 14:00] blacklensama opened #315 "[Question]can bigcache add func reset stats"
I want to calculate the 10 second cache hit rate, but func Stats() get hit rate is from when cache is init.
can bigcache add func reset stats
for example
[code]

of course, i can record last Stats and  get new Stats after 10 seconds, then use it calc hit rate. but i think add reset stats func  can make code more clear

[2022-05-22 07:15] chen-zhuohan opened #318 "the different Expired judge in cacheShard.getWithInfo() and cacheShard.onEvict()"
**What is the issue you are having?**

the different Expired judge in cacheShard.getWithInfo() and cacheShard.onEvict()

[code]

**What is BigCache doing that it shouldn't?**

They should have the same judge.

**Environment:**
- Version: github.com/allegro/bigcache/v3@v3.0.2/shard.go

[2022-05-23 11:05] janisz commented on #318
Good catch! This inconsistency was introduced in https://github.com/allegro/bigcache/pull/168
I think we should have small helper method `isAlive` and use it instead of coping condition.

@chen-zhuohan   Would you like to contribute a patch?

[code]

[2022-05-24 09:29] chen-zhuohan commented on #318
#319 here

[2022-05-29 12:39] lypee opened #320 "How to resolve cache skew"
I'm curious about how bigcache solves cache skew

[2022-05-30 07:53] janisz commented on #320
Can you elaborate?

[2022-06-14 09:53] #318 closed

[2022-06-23 08:19] #308 closed

[2022-06-24 00:05] abolinhas opened #322 "Reset() don't work"
**What is the issue you are having?**
Reset shards no longer works

**What is BigCache doing that it shouldn't?**
Empty the shards.

Using stats method i can see the how many items are in cache
[code]
but when i run the method Reset to flush the shards, they are not flushed / empty, , in previously versions this method works correctly.

[code]
After i run the Reset() the stats are se same
`Output:

[2022-06-29 06:12] chen-zhuohan opened #323 "how about higher quality hash algorithm?"
Although hash algorithm is not the Bottleneck of bigcache, the [smhasher](https://github.com/rurban/smhasher)(the project of hash function quality and speed tests) show that FVNa has poor quality while other hash func has higher.

Should we evaluate the default hash func of bigcache again? After [the question and answer of hash](https://stackoverflow.com/questions/3665247/fastest-hash-for-non-cryp

[2022-07-19 22:56] SebastienMelki opened #324 "Get multiple items in a single function call"
Hello, I was wondering if bigcache could support a getMulti(keys []string) function or if there was a technical limitation preventing it.

Thanks!

[2022-07-21 14:19] janisz commented on #324
Hey, I think it's not a bug but enhancement. I thin it make sens to expose get/set for multiple items as it can boost performance as there will be only single lock. This may be useful to setup/backup the cache.

@cristaloleg WDYT?

[2022-07-21 14:35] SebastienMelki commented on #324
Yea sorry the bug label came by default and I wasn't able to remove it. I completely agree @janisz , if you can point me to what I should look at I can take a jab at implementing the multi approach.

[2022-07-21 14:50] janisz commented on #323
Making golang the only dependency makes this lib easy to use and update. I think we should keep it that way.

We have [`Hasher`](https://pkg.go.dev/github.com/allegro/bigcache/v3#Hasher) interface introduced in https://github.com/allegro/bigcache/pull/5 to enable users using their own hash method. I think it will be great if you can create hasher implementation with benchmarks on different dataset

[2022-07-21 14:50] cristaloleg commented on #324
Yeah, sounds good. With a multiget we can increase throughput because we will take lock once.

[2022-07-21 15:29] janisz commented on #322
Hi, I created following tests and it looks like stats were never cleared. What version do you mean in this sentence:

[code]

[2022-08-19 03:29] blackbeans commented on #305
This issue is  the same as  https://github.com/allegro/bigcache/issues/290
is it resloved?

[2022-09-05 04:29] Hojun-Cho commented on #322
Hello, I think this problem is because Reset() did not reset the cacheShard.Stats
[code]

[2022-09-07 08:49] Hojun-Cho commented on #311
Hello, I think the way the code works is intentional.
[code]

[2022-09-08 08:59] jinleileiking opened #332 "BUG? concurrent set() waste memory"
[code]
This will waste much mem. Is that correct?

[2022-09-08 10:32] janisz commented on #332
It's correct. To prevent GC interaction we do not remove stale entries but overwrite them if configured memory limit is reached. If limit is set to 0 then memory could grow infinitely to OOM. To limit used memory use `HardMaxCacheSize`.

[2022-09-08 12:17] #332 closed

[2022-09-08 12:36] Hojun-Cho opened #333 "Discuss about MultiGet"
**What is the issue you are having?**
I saw #342 and I'm in the process of implementing MultiGet.
I don't know how to handle [cacheshard.hits] .
* Calling hit causes DeadLock
[code]

**Test**
[code]
* Or am I getting the GetMulti implementation in the wrong direction?

**Environment:**
- Version (git sha or release ): v3.0.2
- go version:  1.18.4

[2022-09-08 12:37] #333 closed

[2022-09-08 12:40] Hojun-Cho opened #334 "Discuss about MultiGet"
**What is the issue you are having?**
I saw #324 and I'm in the process of implementing MultiGet.
I don't know how to handle [cacheshard.hits] .
* Calling hit causes DeadLock
[code]

**Test**
[code]
* Or am I getting the GetMulti implementation in the wrong direction?

**Environment:**
- Version (git sha or release ): v3.0.2
- go version:  1.18.4

[2022-09-08 13:55] Hojun-Cho commented on #334
Is it correct to proceed sequentially without using a goroutine?

[2022-09-08 17:50] janisz commented on #334
Yes, depend how you do locking. I think we should start with simple solution that we can iterate on with benchmark.

[2022-09-09 03:59] Hojun-Cho commented on #334
Thank you so much for the advice.

[2022-09-09 07:44] Hojun-Cho commented on #334
@janisz
[code]

This is the benchmark test code.
[code]

* The following results are from  MultiRead - SequentialRead
* shard 1

| count | ns/op | B/op | allocs/op |
|-------|-------|------|-----------|
| 1     | 546   | 24   | 1         |
| 4     | 35    | 155  | 1         |
| 8     | 41    | 191  | 1         |

* shard 512

| count | ns/op | B/op | allocs/op |
|-------|-------|------|-----------

[2022-09-09 08:41] Hojun-Cho commented on #334
Doing a multiget on the shard gives similar results.
[code]

[2022-09-09 12:06] janisz commented on #334
Why there are negative numbers in the table?

[2022-09-09 12:13] Hojun-Cho commented on #334
negative numbers means MultirRead is faster than SequentialRead (MultirRead - SequentialRead).

[2022-09-12 10:25] #334 closed

[2022-09-30 15:00] tong3jie opened #335 "goruntine was blockde when get entry , sometime"
![image](https://user-images.githubusercontent.com/14191774/193298147-afde6fce-d8b5-4a28-aef0-e5c12d5e8e2b.png)
![image](https://user-images.githubusercontent.com/14191774/193298299-a2a854a9-9a4c-4720-a281-bb629e3b7333.png)

the numbers of goruntine was increasing by all the time

[2022-09-30 16:01] janisz commented on #335
That's weird an maybe unrealted to bigcache as it creates only one gorutine when cache is created
https://github.com/allegro/bigcache/blob/c9426ba4b01ea37f412904df29a670711306e31e/bigcache.go#L91-L107

[2022-10-01 09:05] tong3jie commented on #335
I think the goruntine blocked when I get a value and bigcache try to get a lock

[2022-10-02 05:13] tong3jie commented on #335
yes,I think I get the blocked reason.
it about that I set a new vallue when the callback of remove was called.

[2022-10-02 05:13] #335 closed

[2022-10-04 06:44] alok87 opened #336 "Shutting down cleanup routine with ctx"
**What is the issue you are having?**
No issue, saw the NewBigCache() creates a go routine but does not take the context from the users and does not do a graceful shutdown of that go routine on context cancellation.
[code]

**Expected**
[code]

**Environment:**
- Version (git sha or release): v3.2.0
- OS (e.g. from `/etc/os-release` or winver.exe): macOS
- go version: 1.19

[2022-10-04 11:32] janisz commented on #336
@alok87 Good point. When bigcache was created there were no context in std lib. Now we should support that to prevent gorutine leakage.

@alok87 Would you like to contribute a PR for this?

[2022-10-04 11:35] alok87 commented on #336
Sure, will give a PR

[2022-10-06 07:47] tcsgogogo opened #338 "bytesqueue peak panic"
found a panic:
runtime error: slice bounds out of range [:31874] with capacity 24992
goroutine 1708235262 [running]:
panic({0x1618300, 0xc030365740})
        /data/golang/1.18/src/runtime/panic.go:838 +0x207
github.com/allegro/bigcache/v3/queue.(*BytesQueue).peek(0x140e960?, 0xc001730630?)
        /root/go/pkg/mod/github.com/allegro/bigcache/v3@v3.0.2/queue/bytes_queue.go:242 +0x177
github.com/all

[2022-10-06 12:14] janisz commented on #338
Do you have any way to reproduce it?

[2022-10-06 18:24] janisz commented on #338
Interesting, what entries and keys looks like? Were the keys randomly distributed?

[2022-10-07 01:28] tcsgogogo commented on #338
1) In fact, both key and value are uint64 numbers.
2) The key comes from the uint64 number entered by the user, so it may not be randomly distributed.

Will data skew in a shard cause this problem? Shouldn't it cause a set error rather than a get error, let alone a panic.

[2022-10-07 08:17] janisz commented on #338
You are right. But maybe this approach will help us debug https://github.com/allegro/bigcache/issues/283

[2022-10-08 01:48] tcsgogogo commented on #338
PS:
I only use the set and get methods to access data. It seems that this is the easiest way to use.
func (c *BigCache) Set(key string, entry []byte) error
func (c *BigCache) Get(key string) ([]byte, error)

[2022-10-10 06:49] msoft-dev opened #339 "Getting value using regex"
**What is the issue you are having?**
I want to get value using regex expression as a Key

**What is BigCache doing that it shouldn't?**
It accepts only strings as a key

**Minimal, Complete, and Verifiable Example**
[code]

Is there any possibility to get value from cache using regex?

[2022-10-10 09:15] janisz commented on #339
I cannot think about a way to effectively use regex to get entries other than scan whole heap :)
Maybe using a proper indexer (like http://blevesearch.com/) will help.

[2022-10-12 13:14] janisz opened #341 "Update actions with dependabot"
Configure @dependabot to update actions.
https://docs.github.com/en/code-security/dependabot/working-with-dependabot/keeping-your-actions-up-to-date-with-dependabot
Refs: #340

[2022-10-12 13:15] #336 closed

[2022-10-13 20:00] janisz commented on #341
Fixed by #342

[2022-10-19 14:47] #307 closed

[2022-10-25 09:13] janisz opened #345 "Bump go version"
Go 1.19 changes gofmt requirements. So in order to make bigcache build on 1.19 we need to fix formatting and upm go version in CI config.

[2022-10-25 10:45] Ashish0z commented on #345
I can work on this issue

[2022-11-04 05:43] sivchari opened #346 "When will you release it?"
When do you release Bigcache v3.1.0 (or v3.0.3)?
I want to use the latest version containing this [feature ](https://github.com/allegro/bigcache/pull/337).

[2022-11-04 18:49] janisz commented on #346
https://github.com/allegro/bigcache/releases/tag/v3.1.0

[2022-11-04 18:49] #346 closed

[2022-11-07 01:11] sivchari commented on #346
Thanks！

[2022-11-07 18:54] dhffb opened #347 "LifeWindow Not valid"
[code]

13s before not getting value，Why not after 3s?

[2022-11-08 10:56] janisz commented on #347
https://github.com/allegro/bigcache/blob/982ec3b09cacb9936b88dcfdaed329870065cf23/config.go#L9-L13

Are you sure it's 13s not 11s? We have two settings `LifeWindow` after entry can be deleted and `CleanWindow` that configures how often cleanup happens. In yours example after 10s entries older than 3s will be removed (marked as removed). You can use `GetWithInfo` to get information about stealness

[2022-11-08 10:56] #347 closed

[2022-11-12 02:50] darewreck54 opened #348 "Error logs about bytes allocation?"
**What is the issue you are having?**

I'm seeing this get printed out with a severity of `error`.  I'm wondering is this something I need to worry about?  If not, is there a reason why it reports as an `error` vs. a `info` or `warn` ?

[code]

<img width="800" alt="image" src="https://user-images.githubusercontent.com/16171726/201452924-318afc27-0962-4c40-891b-ba70b3e0ebd0.png">

I'm basically us

[2022-11-14 15:22] janisz commented on #348
It's generated by this line
https://github.com/allegro/bigcache/blob/16df11e2ee38e06da57939e8cbc11cc94f3fa4ce/queue/bytes_queue.go#L138
and we are using [logger from stdlib that prints to stderr](https://pkg.go.dev/log#pkg-overview) so technically it's not an error as there are no severity/levels in stdlib (although there could be in the future [Go proposal: structured logging](https://go.googleso

[2022-11-23 12:09] gaozhenyusky opened #349 "why did my key expired"
**config**
[code]

I use `CleanWindow=0`, it means always not expired?, but when i see the debug log, show like this
[code]

I just hope my cache never expired, how can i do? thx )

**Environment:**
- Version (git sha or release): v3@v3.0.2
- OS (e.g. from `/etc/os-release` or winver.exe): CentOS Linux 7 (Core)
- go version: 1.19

[2022-11-23 12:15] gaozhenyusky commented on #349
Or in other words, Is there something wrong with my conf

[2022-11-23 12:58] janisz commented on #349
Does it expire after 1 hour? If so then set `LifeWindow: 0` and that will prevent eviction.
https://github.com/allegro/bigcache/blob/0c7635518190a7d4053a104bb329b98837727eeb/config.go#L9

[2022-11-24 08:17] gaozhenyusky commented on #349
wow, i update `LifeWindow: 10 * 365 * 24 * time.Hour` and try it again.
Actually in my project i just want use `bigCache` like Map now, Whether to add a property in `bigcache.Config` like `NeverLost` ?

[2022-11-24 08:40] janisz commented on #349
It's complicated. In your configuration you have LifeWindow and HardMaxCacheSize. What bigcache should do if you need more memory than HardMaxCacheSize? Currently it will evict the oldest entry and replace it with new one. You can set `HardMaxCacheSize` to 0 to allow it growing infinitely but I don't recommend that :)

https://github.com/allegro/bigcache/blob/982ec3b09cacb9936b88dcfdaed329870065cf

[2022-11-25 01:00] gaozhenyusky commented on #349
thx, u r right  :)

[2022-11-25 01:00] #349 closed

[2022-11-25 03:42] l-i-h-m commented on #267
your clean window is 20min